{template 'common/header'}

<link rel="stylesheet" type="text/css" href="../addons/scene_cube/style/css/style.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="../addons/scene_cube/style/css/btn.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="../addons/scene_cube/style/css/themes.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="../addons/scene_cube/style/css/inside.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="../addons/scene_cube/style/css/powerFloat.css" />

<style type="text/css">
    .box-content .control-group{padding:5px}
    .form-horizontal .control-label{float:left;width:160px;padding-top:5px;text-align:right}
    .form-horizontal .control-label{text-align:left;width:140px;font-weight:bold}
    .form-horizontal .controls .radio{margin-left:20px;float:left;padding-right:20px; line-height: 24px;padding-top: 0;}
    .form-horizontal .controls .radio input{height: 20px;}
    .col-xs-12.control-label{width:92px;text-align:right}
    .form-actions{margin-top:20px;margin-left:160px}
    input,select{height: 34px;padding:2px 3px;vertical-align:middle}
    .input-group-btn button.btn-default,.input-group-btn label.btn-default{padding: 7px 12px;}
    .input-append {word-spacing: -6px;}
    .input-append button#positioning{padding: 7px 8px; word-spacing: 0;}
    .modal-header h3 {margin:0;line-height:30px;}
</style>
<script type="text/javascript" src="../addons/scene_cube/style/src/jQuery.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/bootstrap_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/jquery-powerFloat.js"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/plugins/daterangepicker/daterangepicker.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/plugins/daterangepicker/moment_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/plugins/form/jquery_form_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/plugins/validation/jquery_validate_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/plugins/validation/jquery_validate_methods.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/inside.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/resource2.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/mulresources.js?v=2014-05-21"></script>
<script type="text/javascript" src="../addons/scene_cube/style/src/app/resource.js?v=2014-05-21"></script>