{template 'common/header'}
<div class="main">
	<ul class="nav nav-tabs">
		<li{if $_GPC['do'] == 'eventlist'} class="active"{/if}><a href="{php echo $this->createWebUrl('eventlist');}">拆礼盒管理</a></li>
        <li{if $_GPC['do'] == 'post'} class="active"{/if}><a href="{php echo url('platform/reply/post',array('m'=>'stonefish_chailihe'));}">添加拆礼盒规则</a></li>
		{if $rid!=''}<li{if $_GPC['do'] == 'post'} class="active"{/if}><a href="{php echo url('platform/reply/post',array('rid'=>$rid,'m'=>'stonefish_chailihe'));}">修改拆礼盒规则</a></li>{/if}
		<li{if $_GPC['do'] == 'userlist'} class="active"{/if}><a href="{php echo $this->createWebUrl('userlist',array('id'=>$rid));}">参与粉丝管理</a></li>
		<li{if $_GPC['do'] == 'sharedata' || $_GPC['do'] == '' } class="active"{/if}><a href="{php echo $this->createWebUrl('sharedata',array('id'=>$rid));}">分享数据管理</a></li>
		<li{if $_GPC['do'] == 'prizedata'} class="active"{/if}><a href="{php echo $this->createWebUrl('prizedata',array('id'=>$rid));}">奖品数据管理</a></li>
	</ul>
	
	<div class="panel panel-default">
		<div class="panel-heading">幸运拆礼盒分享详细数据  |  总数:{$total}</div>
		<div class="panel-body table-responsive">
		    <form action="" method="post" onsubmit="">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:60px;">选择</td>
						{if $rid==''}<th style="width:50px;">规则</th>{/if}
						<th style="width:150px;">分享人姓名</th>
						<th style="width:150px;">分享人手机</th>
						<th>访客openid</th>
						<th style="width:150px;">访客IP</th>
						<th style="width:150px;" class="row-hover">访问时间</th>
					</tr>
				</thead>
				<tbody>
					{loop $list_praisedata $row}
					<tr>
						<td><input type="checkbox" name="select[]" value="{$row['id']}" /></td>
						{if $rid==''}<td><a href="{php echo create_url('site/entry/sharedata', array('m' => 'stonefish_chailihe','id'=>$row['rid']))}">{$row['rid']}</a></td>{/if}
						<td>{$row['frealname']}</td>
						<td>{$row['fmobile']}</td>									
						<td>{$row['from_user']}</td>
						<td>{$row['visitorsip']}</td>
						<td>{php echo date('Y-m-d H:i:s', $row[visitorstime]);}</td>									
					</tr>
					{/loop}
				</tbody>
			</table>
			<table class="table">
				<tr>
					<td style="width:60px;"><input type="checkbox" class="check_all"/></td>
					<td>
						<input type="submit" name="delete" value="删除" class="btn btn-primary" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</td>
				</tr>
			</table>
			</form>			
	    </div>
	</div>
	{$pager}
</div>
<script>
$(function(){   
    $(".check_all").click(function(){
       var checked = $(this).get(0).checked;
       $("input[type=checkbox]").attr("checked",checked);
    });	
});
</script>
{template 'common/footer'}