<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../addons/stonefish_chailihe/template/images/reset.css?2014-08-28" media="all" />
<link rel="stylesheet" type="text/css" href="../addons/stonefish_chailihe/template/images/common.css?2014-08-28" media="all" />
<link rel="stylesheet" type="text/css" href="../addons/stonefish_chailihe/template/images/choosePrize.css?2014-08-28" media="all" />
<script type="text/javascript" src="../addons/stonefish_chailihe/template/images/zepto_min.js?2014-08-28"></script>
<title>{$reply['title']}</title>
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="Description" content="{$reply['description']}" />
<!-- Mobile Devices Support @begin -->
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices Support @end -->
<style>
     img{max-width:100%!important;}
	 .container{background-image: url({$picbg02});}
	 .container{background-color: {$bgcolor};}
	 .copyright{color: {$text02color};}
	 .choose-num{color: {$text01color};}
	 .choose-content li span{color: {$text01color};}
	 .panel-register label,.panel-register input[type='email'],.panel-register input[type='text'],.panel-register input[type='tel'],.panel-register .msg-ps{color: {$text03color};}
</style>
</head>
<body onselectstart="return true;" ondragstart="return false;">
<script type="text/javascript">
    (function(){
         window.config_custom = {
            NEEDREGISTER:{$Needregister},
            PATH:{
                 MUSIC:"{$musicpath}"
            },
            AJAX:{
                PASS:"{$telpass}"
            }
        }
    })();
</script>
<script src="../addons/stonefish_chailihe/template/images/zepto_min.js?v=2014-08-28"></script>
<script src="../addons/stonefish_chailihe/template/images/common.js?v=2014-08-28"></script>
<script src="../addons/stonefish_chailihe/template/images/sound.js?v=2014-08-28"></script>
<script src="../addons/stonefish_chailihe/template/images/soundjs_min.js?v=2014-08-28"></script>
<script src="../addons/stonefish_chailihe/template/images/soundmanager.js?v=2014-08-28"></script>
<script src="../addons/stonefish_chailihe/template/images/iscroll.js?v=2014-08-28"></script>
<script src="../addons/stonefish_chailihe/template/images/choosePrize.js?v=2015"></script>
<body onselectstart="return true;" ondragstart="return false;">
        <div data-role="container" class="container">
            <header data-role="header"><!----></header>
            <section data-role="body" class="body">
                <div class="text-swing"></div>
                <div class="choose-content-bg"></div>
                <div class="choose-content">
                    <ul>
                        {loop $listlihe $row}
						<li class="prize{$row['gift']}" data-music="{$row['giftVoice']}" data-id="{$row['id']}">{if $reply['shangjialogo']!=''}<img src="{$shangjialogo}" />{/if}{if $reply['showlihe']}<span>{$row['lihetitle']}({$row['title']})</span>{/if}</li>
						{/loop}                                             
                    </ul>
                </div>
                <ul class="choose-content-identifier">
                </ul>
				{if $subscribe==1}
                    {if $giftlihe==0}
					    <a href="{$mylihe}" class="btn-see"></a>
					{else}
						<a href="javascript:void(0);" class="btn-choose"></a>
					{/if}
				{else}
				    <a href="{$guanzhu}" class="btn-guanzhu"></a>
				{/if}
                <p class="choose-num">{if $giftlihe==0}您已领取过 {$giftnum} 个礼盒{else}今天还可再领 <b>{$giftlihe}</b> 个礼盒{/if}</p>
            </section>
            <footer data-role="footer">
                {if $reply['iscopyright']==1}<a href="{$reply['copyrighturl']}" class="copyright">&copy;{$reply['copyright']}</a>{else}<a href="javascript:;" class="copyright">{if empty($footer_off)}&copy;{if empty($_W['account']['name'])}微动力团队{else}{$_W['account']['name']}{/if}&nbsp;&nbsp;{$_W['setting']['copyright']['statcode']}{/if}</a>{/if}
            </footer>
        </div>
                <div class="panel-register">
            <div class="panel-register-content"{if $reply['isinfo']} style="height:160px;"{/if}>
                <div class="btn-close"></div>
                <p class="msg-ps">{$reply['userinfo']}</p>
                {if $reply['isinfo']==0}<hr class="common-hr" />{/if}
                <form action="{$regurl}" method="post" data-role="info-form">
                    {if $reply['isinfo']==0}
					<div>
                        {if $reply['isrealname']==1}<label for="info-name">姓　名</label><input type="text" name="info-name" value="{$profile['realname']}" />{/if}
                        {if $reply['ismobile']==1} <label for="info-tel">手　机</label><input type="tel" name="info-tel"  value="{$profile['mobile']}" />{/if}
						{if $reply['isqq']==1} <label for="info-qqhao">ＱＱ号</label><input type="tel" name="info-qqhao"  value="{$profile['qq']}" />{/if}
						{if $reply['isemail']==1} <label for="info-email">邮　箱</label><input type="email" name="info-email"  value="{$profile['email']}" />{/if}
						{if $reply['isaddress']==1} <label for="info-address">地　址</label><input type="text" name="info-address"  value="{$profile['address']}" />{/if}
                    </div>
                    {else}
					<input type="hidden" value="{$profile['realname']}" name="info-name" />
					<input type="hidden" value="{$profile['mobile']}" name="info-tel" />
					<input type="hidden" value="{$profile['qq']}" name="info-qqhao" />
					<input type="hidden" value="{$profile['email']}" name="info-email" />
					<input type="hidden" value="{$profile['address']}" name="info-address" />
					{/if}
                    <input type="hidden" value="0" name="info-prize" />
                    <input type="hidden" value="{$avatar}" name="avatar" />
                    <input type="hidden" value="{$nickname}" name="nickname" />
                    <input type="submit" class="btn-send" value="确认领取" />                    
                    
                </form>
                <div class="submit-tip"></div>
            </div>
        </div>
{template 'jssdk'}
</body>		
</html>