<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>商家活动列表</title>
    <link rel="stylesheet" href="../addons/weilive/style/css/shop.css"/>
</head>
<body>
<div class="app-view">
    <div class="app-page">
        <header class="app-head">
            <div class="inner">
			 <a class="link app-back" href="javascript:history.back();">
                    <i class="icon-back"></i>
                </a>
			<p style=" float:right;"><a href="{php echo $this->createMobileUrl('myshop', array('op'=>'exit'))}" class=""><input type="button" value="退出" name="" style="color:#666; width:60px; height:28px;"/></a></p>
                <h1 class="title sliding">活动列表</h1>
				
            </div>
        </header>
        <footer class="app-foot app-foot-button">
            <div class="inner">
                <a class="button" href="{php echo $this->createMobileUrl('myshop', array('op'=>'activitypost', 'storeid'=>$storeid))}">添加活动</a>
            </div>
        </footer>
        <section class="app-wrap" id="js_wrap">
            <div class="inner">
                <div class="m-list s-pdt">
                    <nav id="js_fix" class="nav">
                        <a href="{php echo $this->createMobileUrl('myshop', array('op'=>'couponlist', 'storeid'=>$storeid))}"><span>优惠券</span></a>
                        <a class="z-sel" href="{php echo $this->createMobileUrl('myshop', array('op'=>'activitylist', 'storeid'=>$storeid))}"><span>活动</span></a>
                        <a href="{php echo $this->createMobileUrl('myshop', array('op'=>'memberlist', 'storeid'=>$storeid))}"><span>会员</span></a>
                    </nav>
                    {loop $activities $act}
					<ul class="coupons">
					                        <li>
                            <a class="f-cb" href="javascript:void(0);"><!--index.php?type=activities_edit&fid=56-->
                                <img src="{$_W['attachurl']}{$act['thumb']}" class="pic">

                                <div class="box">
                                    <div class="content">
                                        <div class="name f-toe">{$act['title']}</div>
                                        <p>
                                            秒杀价<span>{$act['kill_price']}</span>元/原价<span>{$act['price']}</span>元
                                        </p>
                                        <p>
                                            已有<span>0</span>参加
                                            <b class="state right z-no">{if $act['ischeck']==0}未审核{else}已审核{/if}</b>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>                    
                    </ul>
					{/loop}
                </div>
            </div>
        </section>
    </div>
</div>
</body>

</html>