/* CSS Document */
.clear{ clear:both; height:0; line-height:0;}
html,body,header, footer, nav, article, section, aside, time, code, div, p, ul, ol, li, dl, dd, dt, h1, h2, h3, a, span, strong, em, small, form, label, input, textarea {
	border:0;margin:0;padding:0;font-family:Microsoft YaHei; font-style:normal; font-weight:normal;
}
html,body{ height:100%; width:100%; display:block; background:#000;}
body{ color:#c4b7a6;}
#wrap{
	 
}
footer#footer{ width:100%; height:8px;  background:#ad0040; display:block; margin-top:40px; clear:both;}
div.p{ display:block; margin:15px 12px; font-size:13px; line-height:25px;}
div.p > span{ color:#ad0040;line-height:25px;}
div.p > span.white{ color:#c4b7a6}


input{ height:40px; line-height:40px; width:98%; display:block; margin:0; padding:0 1%; border:0;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	 -webkit-border-radius:4px;
	 border-radius:4px;
}

textarea{
	height:115px; line-height:23px; width:98%; display:block; margin:0; padding:0 1%; border:0;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	 -webkit-border-radius:4px;
	 border-radius:4px;
}

textarea::-webkit-input-placeholder:{ font-size:13px;

}


a.btn:link,a.btn:visited{  height:45px; line-height:45px; text-align:center; color:#fff; font-size:16px;  display:block; margin:15px 6px; text-decoration:none;
	background: -moz-linear-gradient( bottom, #7e002f,#ad0040,#d1014d);
	background: -o-linear-gradient(bottom, #7e002f,#ad0040,#d1014d);
	background: -webkit-linear-gradient(bottom, #7e002f,#ad0040,#d1014d);
	-o-border-radius:5px;
	-moz-border-radius:5px;
	 -webkit-border-radius:5px;
	 border-radius:5px;
}

