{if empty($item)}
{php $namesuffix = '-new[(wrapitemid)]';}
{php $itemid = '(itemid)';}
{else}
{php $namesuffix = '['.$item['id'].']';}
{php $itemid = 'egg-item-' . $item['id'];}
{/if}
<div class="panel panel-default">
    <div class="panel-body">
    	<div class="form-group">
        	<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否实物</label>
            <div class="col-sm-9 col-xs-12">
            	<span class="pull-right">{if empty($item)}<a href="javascript:;" onclick="doDeleteItem('{$itemid}')">删除</a>{else}<a href="{php echo create_url('site/module/delete', array('name' => 'egg', 'id' => $item['id']))}" onclick="doDeleteItem('{$itemid}', this.href)">删除</a>{/if}</span>
				<label for="radio_1_{$itemid}" class="radio-inline">
                	<input type="radio" name="award-inkind{$namesuffix}" id="radio_1_{$itemid}" value="1" {if $item['inkind'] == 1} checked="checked"{/if}{if !empty($item)} disabled=true{/if} />是
				</label>
				<label for="radio_0_{$itemid}" class="radio-inline"><input type="radio" name="award-inkind{$namesuffix}" id="radio_0_{$itemid}" value="0" {if $item['inkind'] == 0} checked="checked"{/if}{if !empty($item)} disabled=true{/if} /> 否</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品名称</label>
            <div class="col-sm-9 col-xs-12">
            	<input type="text" value="{$item['title']}" style="width:275px;" name="award-title{$namesuffix}" class='form-control'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <div class="input-group col-md-6">
                	<div class='input-group-addon'>中奖率</div>
                    <input type="text" value="{$item['probalilty']}" name="award-probalilty{$namesuffix}" class='form-control'>
                    <div class='input-group-addon'>%</div>
                    <div class='input-group-addon'>数量</div>
                    <input type="text" value="{$item['total']}"  name="award-total{$namesuffix}" class='form-control'>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品描述</label>
            <div class="col-sm-9 col-xs-12">
				<textarea style="height:80px;" name="award-description{$namesuffix}" class="form-control" cols="70" id="">{$item['description']}</textarea>
            </div>
        </div>
        {if $item['inkind'] == 0}
        <div class="form-group">
        	<label class="col-xs-12 col-sm-3 col-md-2 control-label">兑 换 码</label>
            <div class="col-sm-9 col-xs-12">
				<textarea style="height:80px;" class="form-control" cols="70" id="" name="award-activation-code{$namesuffix}">{$item['activation_code']}</textarea>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">激活地址</label>
            <div class="col-sm-9 col-xs-12">
				<input type="text" id="" class="form-control" value="{$item['activation_url']}" name="award-activation-url{$namesuffix}">
            </div>
        </div>
        {/if}
    </div>
</div>
