<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>{if $title}{$title}{else}{if !empty($_W['account']['name'])}{$_W['account']['name']}{/if}{/if}</title>
    <link rel="stylesheet"  href="../addons/we7_egg/template/images/jquery.mobile-1.3.1.css">
	<link rel="stylesheet"  href="../addons/we7_egg/template/images/common.mobile.css?v={TIMESTAMP}">
	<link type="text/css" rel="stylesheet" href="../addons/we7_egg/template/images/new.min.css" />
	<link type="text/css" rel="stylesheet" href="../addons/we7_egg/template/images/common.css" />
	<script type="text/javascript" src="../addons/we7_egg/template/images/jquery-1.7.2.min.js"></script>
	<script src="../addons/we7_egg/template/images/jquery.mobile-1.3.1.min.js"></script>
	<script src="../addons/we7_egg/template/images/common.mobile.js?v={TIMESTAMP}"></script>
</head>
<body>