<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{if !empty($initNG)} ng-app{/if}>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>码上涨粉</title>
<link type="text/css" rel="stylesheet" href="{RES_CSS}bootstrap.css?v=1" />
<link type="text/css" rel="stylesheet" href="{RES_CSS}font-awesome.css" />
<link type="text/css" rel="stylesheet" href="{RES_CSS}common.css?v=0" />
<script src="./resource/js/require.js"></script>
<script src="./resource/js/app/config.js"></script>
<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="{RES_JS}bootstrap.js"></script> 
<script type="text/javascript" src="{RES_JS}common.js"></script>
<script type="text/javascript">
cookie.prefix = '{$_W['config']['cookie']['pre']}';
window.UEDITOR_HOME_URL = '{$_W['siteroot']}';
</script>
</head>
<body {if $action == 'frame'}style="height:100%; overflow:hidden;" scroll="no"{/if}>
  <div class="alert alert-error" style="margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;"><i class="icon-backward"></i>
    <a href="{php echo wurl('home/welcome/ext', array('m'=>'quickspread'))}">返回</a> 【{$_W['account']['name']}】</div>
