{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op == 'leaflet'}class="active"{/if}><a href="{php echo $this->createWebUrl('spread', array('op' => 'leaflet'));}">传单库</a></li>
  <li {if $op == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('spread', array('op' => 'post'));}">编辑传单</a></li>
	<li {if $op == 'black'}class="active"{/if}><a href="{php echo $this->createWebUrl('spread', array('op' => 'black'));}">黑名单</a></li>
	<li {if $op == 'log'}class="active"{/if}><a href="{php echo $this->createWebUrl('spread', array('op' => 'log'));}">推广记录</a></li>
	<li {if $op == 'qualitylog'}class="active"{/if}><a href="{php echo $this->createWebUrl('spread', array('op' => 'qualitylog'));}">优质推广</a></li>
  {if $op == 'user'} <li class="active"><a href="#">个人推广详情</a></li>{/if}
</ul>


{if $op == 'post'}
  {template 'post'}
{/if}
{if $op == 'black'}
  {template 'black'}
{/if}
{if $op == 'leaflet'}
  {template 'leaflet'}
{/if}
{if $op == 'log' or $op == 'qualitylog'}
  {template 'log'}
{/if}
{if $op == 'user'}
  {template 'user'}
{/if}



{template 'common/footer'}
