<!DOCTYPE html>
<html>
<head>
	<title>{if $title}{$title}{else}码上涨粉{/if}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- Mobile Devices Support @begin -->
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<!-- Mobile Devices Support @end -->
	<meta name="keywords" content="微信营销,微信,微信公众平台" />
	<meta name="description" content="微信公众平台自助引擎，简称微信营销，微信营销是一款免费开源的微信公众平台管理系统。" />
  <script type="text/javascript" src="{RES_JS}jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{RES_JS}bootstrap.js"></script>
  <link type="text/css" rel="stylesheet" href="{RES_CSS}bootstrap.css?v=1">
  <link type="text/css" rel="stylesheet" href="{RES_CSS}font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="{RES_CSS}common.mobile.css" />
</head>
<body>
  <style>
    .eclipse {
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow: hidden;
      max-width:180px;
    }
  </style>
{if empty($main_off)}<div class="main">{/if}
