{php echo register_jssdk();}
<script type="text/javascript">
    // 微ktv分享
    wx.ready(function () {
        sharedata = {
            title: document.title,
            desc: {if empty($shareDesc)}document.title + " - {$_W['account']['name']}"{else}"{$shareDesc}"{/if},
            link: "{$_W['siteurl']}",
            imgUrl: {if empty($shareThumb)}"{$_W['siteroot']}addons/ewei_ktv/preview.jpg"{else}"{$shareThumb}"{/if}

        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });
</script>
