@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{font-family: 'Microsoft Yahei','Simsun';
  font-size: 14px; -webkit-text-size-adjust:100%; line-height:25px; background-color:#F1F1F1; color:#8d9695;}
a{color:#8d9695;text-decoration:none}
ul,li{list-style:none; margin:0px; padding:0px;}
img{border:0;vertical-align:middle;}

A:link,
A:visited,
A:hover ,
A:active{
 color: #8d9695;
 TEXT-DECORATION: none
}
.center{ padding:0 10px; overflow: hidden;height: 100%;max-width:640px; margin:0 auto;}
.top{ overflow: hidden; font-size: 16px; line-height: 40px; padding: 5px 0px;  background: #000;position: fixed; z-index: 9999; width: 100%;  color: #fff;left: 0px;}
.top span{ color: fff;}
.top div {  padding: 0 5px;}
.top a {  padding: 0 5px; color:#fff;}
.top .topa{ float: right; background:url(../images/bm.png) center no-repeat #fe7160; margin-top: 5px; background-size: 100% 100%; line-height: 30px; height: 30px;  font-weight: bold; border-radius: 5px; color: #fff;  width: 100px;}
.product{ border:0px solid #cfd4d0; padding:5px 0px; overflow: hidden;}
.product .uli{ width: 46%; float: left; display: block;
 
  padding: 0;
   margin: 0 5px 15px 5px;
  line-height: 1.4;
  transition: all 0.2s ease-in-out 0s;
  border: medium none;
  font-size: 14px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  background-color: #FFFFFF;}
.product li dl{ overflow: hidden;}
.product li dt{ overflow: hidden; position: relative; margin-bottom: 5px;}
.product li dt span{ position: absolute;    padding: 0 5px;  border-radius: 5px;color:#fff;background: rgba(0, 0, 0, 0.5);}
.product li dt img{ float: left; width: 100%;}
.product li dt span img{ width: 100%; float: left; border:none;}
.product li dd{line-height: 18px; color: #6a7475; font-size: 14px;overflow: hidden;white-space :nowrap ;  padding: 5px;}
.product li dd span{ color: #f12500;}
.cunber_title{ overflow: hidden; padding-top: 10px;}
.cunber_title span{ float: right;}
.cunber_title b{ font-weight: normal; color: #f12500; padding:0 5px;}
.cunber_title u{ text-decoration: none; color: #23cba8; padding:0 5px;}
.usr{ overflow: hidden; border:1px solid #cfd4d0; border-bottom: none;}
.usr_list{ overflow: hidden; border-bottom:1px solid #cfd4d0; padding:5px;}
.usr_list p{ width: 50px; float: left;}
.usr_list p img{ width: 100%; float: left;}
.usr_list dl{ overflow: hidden; padding-left: 8px;}
.usr_list dt{ font-size: 14px;}
.usr_list dt span{ float: right; font-size: 12px; color: #23cba8;}
.usr_list dt span.curr{ width: 25px; height: 25px; font-size: 14px; text-align: center; background:#f12500; border-radius: 50%; color: #fff;}
.usr_list dd{ overflow: hidden; font-size: 12px;}
.usr_list dd span{ float: right; color: #8d9695;}
.usr_list dd b{ font-weight: normal; background:url(../images/a3.png) left center no-repeat; background-size: 16px auto; padding-left: 20px; color: #23cba8}
.usr_more{ width: 100%;overflow: hidden; border:1px solid #c4d4d0; line-height: 35px; text-align: center; font-size: 14px; margin-top: 10px;color:#8d9695;}
.sub_b{   overflow: hidden;
  padding: 5px 0;
  box-shadow: 0px -2px 10px #626262;
  background-color: #000;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;}
.sub_b dl{ padding:0 10px;}
.sub_b dd{ text-align: center; line-height: 30px; height: 30px; overflow: hidden; border-radius: 5px; color: #fff; font-size: 14px; background: #23cba8;}
.sub_b dd a{ display: block; color: #fff;}
.sub_b dt{  height: 30px;
  width: 24%;
  float: left;
  background: #5BC0DE;
  position: relative;
  margin-left: 3px;
  text-align: center;
  border-radius: 5px;
  line-height: 30px;
  color: #fff;}
  .sub_b dt a{color: #fff;}
.sub_b dt img{ width: 23px; height: 25px; margin-top: 3px;}
.sub_b dt span{ width: 5px; height: 5px; border-radius: 50%; background:#ff0000; position: absolute; right: 3px; top: 3px;}
.wenz{ overflow: hidden; padding-bottom: 45px;}
.wenz h3{ font-size: 14px; font-weight: normal; color: #23cba8; padding-top: 10px;}

.jind{ position: relative; height: 40px; overflow: hidden;}
.ca{ width: 24px; background: url(../images/ss_05.png) left top no-repeat; background-size: 24px auto; text-align: center; line-height: 30px; color: #788389; font-weight: bold; position: absolute; top: 12px; left: 100%; z-index: 9;}
.current{ background: url(../images/ss_03.png) left top no-repeat; background-size: 24px auto; color: #fff;}
.cab{ width: 100%; height: 8px; overflow: hidden; background-color: #d2d5da; position: relative; margin-top:22px;}
.cab span{ height: 8px; background: #f77b23; float: left; border-radius: 0 5px 5px 0px;}

.share-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.9);
	background-size: 320px 256px;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(../images/share.png);
	z-index:999;
}
.share-layer.show{
	display: block;
}
input,select,textarea{background:transparent; border:none; padding:0; margin:0;}
.con{ padding:0 5%; }
.con img { width:100%;}
.getbtn{color:#fff;margin: 5px auto 5px;border:0px;width:100%;line-height:30px;font-size:14px;background-color:#0f9dda;}
.paihang{color:#fff;margin: 5px auto 5px;border:0px;width:100%;line-height:30px;font-size:14px;background-color:#0f9dda;}
.getbtnshangjia{color:#fff;margin: 5px auto 5px;border:0px;width:100%;line-height:30px;font-size:14px;background-color:#ff0000;}
.getedbtn{color:#fff;margin: 5px auto 5px;border:0px;width:100%;line-height:26px;font-size:14px;background-color:gray;}
.pri {padding:10px ; margin:0px; position:relative; z-index:3; background: url(../images/longbg.png) repeat; background-size:contain;}
.pri h4{ text-align:center; color:#f00; margin:0 0 10px;}
.pri .pricebg{border:8px solid #ddd; border-radius:10px; background-color:#0f9dda;/*background: url(../images/hongbao/pbg.jpg) repeat;*/height:120px; display:table; width:100%;  position:relative; box-sizing:border-box;  }
.pri .ptxt{ width:100%;position: absolute; left:0; top:0; z-index:2;}
.pri p{vertical-align:middle;display:table-cell; color:#fff; padding:10px; overflow:hidden;  position: relative; z-index:1; text-align:center;}
.wrinfor{}
.wrinfor li{ height:50px; margin:5px 0;}
.wrinfor li.nam{ background:url(../images/pname.png) no-repeat; background-size:100%  50px;}
.wrinfor li.tel{ background:url(../images/ptel.png) no-repeat; background-size:100%  50px;}
.wrinfor li.weixin{ background:url(../images/pweixin.png) no-repeat; background-size:100%  50px;}
.wrinfor li.qqhao{ background:url(../images/pqq.png) no-repeat; background-size:100%  50px;}
.wrinfor li.email{ background:url(../images/pemail.png) no-repeat; background-size:100%  50px;}
.wrinfor li.address{ background:url(../images/paddr.png) no-repeat; background-size:100%  50px;}

.wrinfor li.pass{ background:url(../images/ppass.png) no-repeat; background-size:100%  50px;}
.wrinfor li .pad{ padding:18px 3% 18px 20%; }
.wrinfor li input{ width:100%;}
.btn input{ padding:10px 0; color:#fff;background-color:#0f9dda;}

.footer {  max-width: 640px;
  height: 50px;
  margin: 0 auto;
  text-align: center;}

.copyright{padding:0 auto;margin:0 auto; height:40px; line-height:40px; text-align:center; color:#E0E0E0; position:relative; bottom: auto;font-size:12px; padding-bottom:40px;}
.copyright a:link{color:#E0E0E0;}



 .box_swipe {
  overflow: hidden;
  position: relative;
}
.box_swipe ul {
  overflow: hidden;
  position: relative;
}
.box_swipe ul > li {
  float:left;
  width:100%;
  position: relative;
}
.box_swipe ul > li a{
	color:#FFF;
	text-decoration:none;
}
.box_swipe ul > li .title{
	position: absolute;
	bottom: 6px;
	display: block;
	width: 70%;
	height:20px;
	padding:0 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color:#FFF;
	z-index:100;
}
.box_swipe>ol{
	height:20px;
	position: relative;
	z-index:10;
	margin-top:-25px;
	text-align:right;
	padding-right:15px;
	background-color:rgba(0,0,0,0.3);
}
.box_swipe>ol>li{
	display:inline-block;
	margin-bottom:1px;
	width:8px;
	height:8px;
	background-color:#757575;
	border-radius: 8px;
}
.box_swipe>ol>li.on{
	background-color:#ffffff;
}


.nav{ width:100%;height:50px;background:#28013b;position:fixed;bottom:0;display:block;z-index:10000;}
.nav li{ width:20%;float:left;text-align:center;}
.nav li .a{ display:block;color:#fff;}
.nav li .a::before{content:"";width:20px;height:20px;background:url(../mobile/photos/navbai.png) no-repeat 0 0;display:block;margin:5px auto 4px;background-size:20px auto;}
.nav li:nth-child(2) .a::before{ background-position:0 -27px;}
.nav li:nth-child(3) .a::before{ background-position:0 -52px;}
.nav li:nth-child(4) .a::before{ background-position:0 -75px;}
.nav li:nth-child(5) .a::before{ background-position:0 -99px;}
.nav li.cur .a{ color:#e2216f;}
.nav li.cur .a::before{background:url(../mobile/photos/navhong.png) no-repeat 0 0;background-size:20px auto;}
.nav li.cur:nth-child(3).a::before{ background:url(../mobile/photos/navhong.png) no-repeat 0 -52px;background-size:20px auto;}
.nav li.cur:nth-child(4) .a::before{ background:url(../mobile/photos/navhong.png) no-repeat 0 -75px;background-size:20px auto;}


/*搜索框*/
.cover{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);display: none;z-index: 2002;}
.search{ height:80px;width:100%;background:#2e0144;position:fixed;top:0;left:0;z-index:20001;display: none;}
.s_up{ padding:10px 15px 0;height:30px;}
input{ border:0;} 
.txt{ width:78%;height:30px;line-height:30px;background:#fff;border-radius:3px;float:left;color:#333;padding-left:5px;}
.btns{ width:19%;float:right;height:30px;line-height:30px;background:#e2216f url(../mobile/photos/navbai.png) no-repeat 10% -18px;background-size:18px auto;border-radius:3px;color:#fff;padding-left:20px;}
.tip{ height:40px;line-height:40px;color:#fff;text-align:center;}

/*分享到朋友圈*/
#mcover {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);display: none;z-index: 2000;}
#mcover img { position: fixed;right: 18px;top: 5px;width: 260px!important;height: 180px!important;z-index: 2001;}
.gz{ position: fixed;left:10%;top:220px;width:80%;}
.fasong{ color:#fff45c;font-size:16px;text-align:center;}
.butt{ width:100%;height:40px;line-height:40px;background:#e2216f;color:#fff;border-radius:3px;font-size:16px;margin-top:30px;}
.fe22{ color:#e2216f;font-size:16px;}
.neirong{ background:#fff;border:1px solid #61B3E5;padding:10px;line-height:22px;color:#242424;border-radius:5px;}
.neirong .more{ color:#3477BA;text-decoration:underline;}
.neirong img{width:100%;max-width:640px;}

 .tips{ height:50px;line-height:50px;color:#000;}
 .tips strong{ height:50px;background:url(../mobile/photos/xin.png) no-repeat 0 center;display:block;background-size:24px;padding-left:30px;margin:0 auto;font-size:16px;}
 .tips span{ margin:0 auto;padding-left:20px;display:block;}

.nav > li > a {
  position: relative;
  display: block;
  padding: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: rgb(40, 1, 59);
}
