* {
	padding: 0;
	margin: 0;
}
.blog .dt-format-gallery .dt-format-gallery-coll.full,
.archive .dt-format-gallery .dt-format-gallery-coll.full,
.search .dt-format-gallery .dt-format-gallery-coll.full
{
	display: none;
}


.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {}