body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    width:100%;
    font: 16px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
}
a { text-decoration: none }
input { border:none;  padding:10px; color:#333;width:90%;}
body { overflow-x:hidden}
#mcover{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);display:none;z-index:20000;}
#mcover img{position:fixed;right: 18px;top:5px;width:260px;height:180px;z-index:20001;}
.container {
    width:90%;padding:10px;overflow:hidden;
    margin:auto; text-align: center;
}
.block { display:block; width:90%; margin:auto;margin-top:10px;padding:10px 10px 10px 10px;; border-radius: 5px; }
.white { background:#fff; color:#000}
.btn { background-color:#0000ff;color:#fff;}
.n { color:red; font-size:16px;}
p { margin-top:10px; font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;}
.link { color:#fff; }
.join { width:100%;}