@charset "utf-8";
html{
  width:100%;
  height:100%;
}
.appwrap{
  width:100%;
  height:100%;
  overflow:hidden;
  background:#3D3E4B;
  font-family:"Microsoft Yahei";
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.app-page div,a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.app-page a{
	text-decoration: none;
	color: #fff;
}
.app{
  position:relative;
  max-width:640px;
  height:inherit;
  margin:0 auto;
  box-shadow:0 0 160px 0 #9D9FB0;
}
.app-inner{
  width:inherit;
  height:inherit;
  overflow:hidden;
}
.app-content{
  height:inherit;
}

.app-page{
  position:absolute;
  left:0;
  top:0;
  z-index:0;
  width:100%;
  height:inherit;
  background-size:cover;
  background-repeat:no-repeat;
  overflow:hidden;
  display:none;
  transition:.3s all linear;
  -webkit-transition:.3s all linear;
}
.app-content.notransition .app-page{
  transition:none;
  -webkit-transition:none;
}
.app-page.current{
  z-index:1;
  display:block;
}
.app-page.active{
  z-index:6;
  display:block;
}

/*--------------------------
 元素：公共元素
---------------------------*/
.app-page .artbox{
  width: 100%;
  padding:0 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.app-page .artbox .artbox-title{
  width:60%;
  font-size: 24px;
  padding:10px 0;
  margin-left: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.app-page .artbox .artbox-title .titbig{
	color: #a40000;
	font-size: 90px;
}
.app-page .artbox .content{
  font-size:28px;
  padding:10px 0;
  line-height:40px;
}

@keyframes slideLeftAnimate{
	0%{
    left:20px;
  	opacity:0;
  }
	50%{
    left:0;
  	opacity:1;
  }
  100%{
    left:20px;
  	opacity:0;
  }
}
@-webkit-keyframes slideLeftAnimate{
	0%{
    left:20px;
  	opacity:0;
  }
	50%{
    left:0;
  	opacity:1;
  }
  100%{
    left:20px;
  	opacity:0;
  }
}
@keyframes slideRightAnimate{
	0%{
  	right:20px;
  	opacity:0;
  }
	50%{
    right:0;
  	opacity:1;
  }
  100%{
  	right:0;
  	opacity:0;
  }
}
@-webkit-keyframes slideRightAnimate{
	0%{
  	right:20px;
  	opacity:0;
  }
	50%{
    right:0;
  	opacity:1;
  }
  100%{
  	right:20px;
  	opacity:0;
  }
}

/*
	婚礼相册
*/
.app-page.album{
	color:#fff
}
.app-page.album .artbox{
	margin-top: 30px;
}
.app-page.album .artbox-title{
	margin-left: 25px;
}
.app-page.album .content{
	padding: 30px 20px 0 20px;
}
.app-page.album .photo {
	position: relative;
	font-size: 12px;
	width: 80%;
}
.app-page.album .photo-inner {
}
.app-page.album .photo-item {
	overflow: hidden;
	border: 5px solid #fff;
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	display: inline-block;
	min-width: 200px;
	min-height: 150px;
	background: #fff url(../images/loading.gif) no-repeat center center;
}
.app-page.album .photo-item-pic {
	display: block;
	width: 100%;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.app-page.album .photo-title {
	width: 100%;
	font-size: 30px;
	color: inherit;
	padding: 2px 0;
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 0;
	text-align: center;
}
.app-page.album .pics{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	-webkit-transform:translateX(1000px);
	-ms-transform:translateX(1000px);
	-moz-transform:translateX(1000px);
	-o-transform:translateX(1000px);
}
.app-page.album .showPage{
	-webkit-transform:translateX(0px);
}
.app-page.album .picsPage{
	width:100%;
	height:100%;
	font-size:0;
	line-height:0;
}
.app-page.album .picsPage-box{
	width:100%;
	height:100%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .5s ease-out;
	display: block;
	z-index: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
}
.app-page.album .picsPage-box:nth-child(1){
	z-index: 113;
}
.app-page.album .picsPage-box:nth-child(2){
	z-index: 112;
}
.app-page.album .picsPage-box:nth-child(3){
	z-index: 111;
}
.app-page.album .picsPage-box-pic{
	border-radius: 4px;
	box-shadow: 0 0 3px 0 #B8B8B8;
	-webkit-transition: all .8s ease-out;
	-webkit-transform: rotateZ(30deg) scale(3) translate(80%,80%);
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.app-page.album .picsPage-box.normal{
	z-index: 10;
	display:none;
}
.app-page.album .picsPage-box.normal .picsPage-box-pic{
	-webkit-transform: rotateZ(0deg) scale(1) translate(0%,0);
	-webkit-transition-delay: 2s;
}
.app-page.album .showPage .picsPage-box:nth-child(3) .picsPage-box-pic{
	-webkit-transform: rotateZ(3.2deg) scale(1) translate(0%,0);
	-webkit-transition-delay: 0s;
}
.app-page.album .showPage .picsPage-box:nth-child(2) .picsPage-box-pic{
	-webkit-transform: rotateZ(1.6deg) scale(1) translate(0%,0);
	-webkit-transition-delay: .5s;
}
.app-page.album .showPage .picsPage-box:nth-child(1) .picsPage-box-pic{
	-webkit-transform: rotateZ(0deg) scale(1) translate(0%,0);
	-webkit-transition-delay: 1s;
}
.app-page.album .picsPage-box-pic img{
  	width:100%;
	display: block;
	border:4px solid #eee;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-radius: 3px;
}
.app-page.album .picsPage-box-title {
	width: 76%;
	position: absolute;
	z-index: 999;
	top: 10px;
	left: 0;
	display: block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 0 10px;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,.5)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(0, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(0, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(0, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
}
.app-page.album .picTit{
	font-size: 0;
}
.app-page.album .picNum{
	font-size: 20px;
	margin-left: 50px;
}
.app-page.album .picsPage-back{
	position: absolute;
	right: 30px;
	bottom: 30px;
	z-index:999;
	width: 170px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 28px;
	color: #fff;
	background: rgba(0,0,0,.5);
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
.app-page.album .picsPage-slideBtn{
  position:fixed;
  z-index:10000;
  width:30px;
  height:60px;
  top:50%;
  margin-top:-30px;
  background-image:url(../images/slide-arrow.png);
  background-repeat:no-repeat;
  background-size:60px;
}
.app-page.album .picsPage-slideLeft{
  left:20px;
  background-position:0 0;
  animation:slideLeftAnimate 2s linear 0s infinite;
  -webkit-animation:slideLeftAnimate 2s linear 0s infinite;
  display:none;
}
.app-page.album .picsPage-slideRight{
  right:20px;
  background-position:-30px 0;
  animation:slideRightAnimate 2s linear 0s infinite;
  -webkit-animation:slideRightAnimate 2s linear 0s infinite;
  display:none;
}

.app-page.album .photo-nums{
	position: absolute;
	top:15px;
	left:5px;
	background:rgba(255,255,255,.8);
	color:#333;
	font-size: 14px;
	display:inline-block;
	padding: 0 10px;
	border-radius:0 20px 20px 0;
	line-height: 30px;
	box-shadow: 1px 1px 2px #555;
}
.photo-viewbtn{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -15px;
	margin-left: -48px;
	background:rgba(0,0,0,.5);
	color:#fff;
	font-size: 14px;
	display:inline-block;
	padding: 0 20px;
	border-radius:20px;
	line-height: 30px;
}

.app-page .nopic .photo-item{
	width: 100%;
	height: 250px;
	background: #eee;
	color: #333
}
.app-page .nopic .photo-item-pic{
	width: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	padding-top: 70px;
	line-height: 40px;
}

.mpview-btn{
	position: fixed;
	bottom: 0;
	right: 5px;
	z-index:1;
	display: inline-block;
	font-size: 14px;
	background: rgba(0,0,0,.5);
	color: #fff;
	padding: 5px 10px;
	border-radius: 6px 6px 0 0;
}

@-webkit-keyframes roll2L{
	0%{
		opacity:0;
		-webkit-transform: scale(.5) translateX(0);
	}
	70%{
		opacity:1;
		-webkit-transform: scale(1) translateX(500px);
	}
	100%{
		opacity:0;
		-webkit-transform: scale(.5) translateX(0);
	}
}
@-webkit-keyframes roll2R{
	0%{
		opacity:0;
		-webkit-transform: scale(.5) translateX(500px);
	}
	70%{
		opacity:1;
		-webkit-transform: scale(1) translateX(0);
	}
	100%{
		opacity:0;
		-webkit-transform: scale(.5) translateX(200px);
	}
}
@-webkit-keyframes roll2T{
	0%{
		opacity:0;
		-webkit-transform: scale(.5) translateY(0);
	}
	70%{
		opacity:1;
		-webkit-transform: scale(1) translateY(-500px);
	}
	100%{
		opacity:0;
		-webkit-transform: scale(.5) translateY(0);
	}
}
@-webkit-keyframes roll2B{
	0%{
		opacity:0;
		-webkit-transform: scale(.5) translateY(0);
	}
	70%{
		opacity:1;
		-webkit-transform: scale(1) translateY(500px);
	}
	100%{
		opacity:0;
		-webkit-transform: scale(.5) translateY(0);
	}
}