@charset "utf-8";
/*--------------------------
 模块：detail（详情页）
---------------------------*/
html,body{
	overflow-x: hidden;
	background: #eee;
}
body {
	width: auto;
	font-family:"Microsoft Yahei";
}
a {
	text-decoration: none;
}
a:link {
	color: inherit;
	text-decoration: inherit;
}
a:visited {
	color: inherit;
	text-decoration: inherit;
}
.icx-mobi-detail{
	max-width: 640px;
	margin: 0 auto;
}
.detail-article {
	padding: 10px;
	box-sizing: border-box;
	background: #fff;
}
.detail-article-title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}
.detail-article-date {
	color: #999;
	margin: 5px auto;
	font-size: 12px;
	text-align: center;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
}
.detail-article-content {
	color: #666;
	font-size: 15px;
}
.detail-article-content p {
	line-height: 24px;
	padding: 5px 0;
}
.detail-article-content .blackColor{
	color: #000;
	font-weight: bold;
}
.detail-article-content img {
	max-width:100%;
}
.detail-article-content strong {
	font-weight: 700;
}
.detail-article-content table{
	width:100%;
	margin-bottom: 10px;
}
.detail-article-content table td{
	padding:5px 10px;
	border:1px solid #DDD;
}
/*--------------------------
 模块：sharebox （分享提示）
---------------------------*/
.sharebox{
	text-align:center;
	font-size:16px;
	margin-top:30px;
}
.sharebox-item{
	width:45%;
	height:36px;
	line-height:36px;
	display:inline-block;
	color:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.sharebox-item:nth-child(1){
	background:#168EB0;
}
.sharebox-item:nth-child(2){
	background:#C36077;
}
.sharebox-item:nth-child(3){
	background:#DB8E50;
}
/*--------------------------
 模块：sharebox （分享提示）
---------------------------*/
.sharetip{
	position:fixed;
	left:0;
	top:0;
	z-index:99999;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	background-repeat: no-repeat;
	display:none;
}
.sharetip-cfriend{
	background-image:url(../images/sharetips-cfriend.png);
	background-size:100%;
}
.sharetip-collect{
	background-image:url(../images/sharetips-collect.png);
	background-size:100%;
}
/*--------------------------
 模块：footer （通用页脚）
---------------------------*/
.footer {
	width:100%;
	clear: both;
	color:#BBB;
	text-align: center;
	background:#fff;
}
.footer .copyright {
	font-size: 12px;
	line-height:18px;
	margin:0 auto;
	padding:10px 0;
	overflow:hidden;
}