@charset "utf-8";
/*--------------------------
 模块：全局
---------------------------*/
.icx-mobi-home {
	padding-bottom: 42px;
}

.icx-mobi-page {
	
}
/*--------------------------
 模块：content （栏目）
---------------------------*/
.container {
	display: block;
	background: #fff;
}

.content {
	width: 100%;
}

.content-inner {
}

.content-item {
	width: 100%;
	height: 68px;
	font-size: 16px;
	position: relative;
}

.content-item-anchor {
	display: block;
	width: inherit;
	height: inherit;
}

.content-item-thumb {
	width: 48px;
	height: 48px;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -24px;
	overflow: hidden;
}

.content-item-thumbnail {
	width: inherit;
	height: inherit;
}

.content-item-hgroup {
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	padding-left: 60px;
	padding-right: 30px;
}

.content-item-title {
}

.content-item-summary {
	font-size: 12px;
	color: #999;
	margin-top: 3px;
}
/*--------------------------
 模块：carousel （背景图）
---------------------------*/
.carousel {
	width: 100%;
	position: relative;
	font-size: 12px;
	min-height: 480px;
}

.carousel-inner {
	height: inherit;
	white-space: nowrap;
	font-size: 0;
	position: relative;
}

.carousel-item {
	position: relative;
	display: inline-block;
	width: 100%;
	height: inherit;
}

.carousel-item-anchor {
	height: inherit;
	display: block;
}

.carousel-item-pic {
	display: block;
	width: 100%;
	height: inherit;
}

/*----------------------------
	home content 
--------------------------------*/
.topbar{
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	line-height: 40px;
	width: 100%;
	overflow: hidden;
	background: rgba(0,0,0,.5);
	font-size:18px;
	text-align: center;
	color:#fff
}

.infobar{
	position: absolute;
	left: 50%;
	top: 44px;
	width: 100%;
	width: 320px;
	height: auto;
	margin-left: -160px;
	text-align: center;
}
.infobar .content-item:nth-child(1){
	width: 100px;
	line-height: 20px;
	float: left;
	margin-top: 30px;
}
.infobar .content-item:nth-child(2){
	width: 120px;
	height: auto;
	float: left;
}
.infobar .content-item:nth-child(3){
	width: 100px;
	margin-top: 30px;
	float: left;
}
.infobar .content-item:nth-child(4){
	clear:both;
	height: auto;
	line-height:22px;
	overflow: hidden;
}
.infobar .content-item-anchor{
	width:100%;
}
.infobar .content-item-hgroup{
	height: auto;
	padding:0;
	display:block;
	margin:0;
}
.infobar .content-item-title{
	font-size:12px;
	color:#fff
}
.infobar .content-item-thumb{
	position:relative;
	left:auto;
	top:auto;
	width: 32px;
	height: 32px;
	margin: 5px auto;
}
.infobar .content-item:nth-child(1) .content-item-hgroup{
	width: 66px;
	overflow: hidden;
	text-align: right;
	text-shadow: 0 1px 0 #333;
}
.infobar .content-item:nth-child(2) .content-item-hgroup{
	line-height: 18px;
	text-shadow: 0 1px 0 #333;
	font-weight: 700;
}
.infobar .content-item:nth-child(1) .content-item-title{
	font-size:14px;
}
.infobar .content-item:nth-child(1) .content-item-summary{
	font-size:24px;
	color:#fff;
	font-family: Arial;
	font-weight: 700;
}
.infobar .content-item:nth-child(2) .content-item-thumb{
	position:relative;
	left:auto;
	top:auto;
	width: 72px;
	height: 72px;
	border: 4px solid #fff;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	margin-top: 10px;
}
.infobar .content-item:nth-child(2) .content-item-thumb img{
	border-radius: 40px;
	-webkit-border-radius: 40px;
}
.infobar .content-item:nth-child(3) .content-item-thumb {
	width: 36px;
	height: 36px;
	display: block;
}
.infobar .content-item:nth-child(4) .content-item-title{
	font-size:22px;
	white-space: nowrap;
	font-weight: 700;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 24px;
}
.infobar .content-item:nth-child(4) .content-item-summary{
	font-size:14px;
	color:#fff;
	font-weight: normal;
	margin-top: 0px;
	height: 20px;
	overflow: hidden;
}

.cateContent {
	position: absolute;
	left: 50%;
	top: 0;
	width: 320px;
	margin-left: -160px;
}
.cateContent .content-inner {
	width: auto;
	height: inherit;
	position: relative;
	font-size: 0;
	margin:0;
	padding:0;
}
.cateContent .content-inner:after{
	display: table;
	content:" ";
}
.cateContent .content-item{
	position: relative;
	width: 80px;
	height:80px;
	background: none;
	border: 0;
	text-align: center;
	z-index: 10;
}
.cateContent .content-item:nth-child(1){
	position: absolute;
	right: 75px;
	top: 215px;
}
.cateContent .content-item:nth-child(2){
	position: absolute;
	right: 30px;
	top: 290px;
}
.cateContent .content-item:nth-child(3){
	position: absolute;
	right: 80px;
	top: 370px;
}
.cateContent .content-item:nth-child(4){
	position: absolute;
	left: 80px;
	top: 370px;
}
.cateContent .content-item:nth-child(5){
	position: absolute;
	left: 35px;
	top: 290px;
}
.cateContent .content-item:nth-child(6){
	position: absolute;
	left: 80px;
	top: 215px;
}
.cateContent .content-item:nth-child(7){
	position: absolute;
	left: 30px;
	top: 190px;
	width: 260px;
	height: 260px;
	z-index: 9;
}
.cateContent .content-item:nth-child(8){
	position: absolute;
	left: 115px;
	top: 280px;
	width: 90px;
	height: 90px;
	background: rgba(0,0,0,.8);
	border-radius: 45px;
	-webkit-border-radius: 45px;
}
.cateContent .content-item-anchor{
	position: relative;
	z-index: 20;
	width:100%;
}
.cateContent .content-item-hgroup{
	height: auto;
	padding:0;
	display:block;
	margin:0;
}
.cateContent .content-item-title{
	font-size:13px;
	color:#fff
}
.cateContent .content-item-thumb{
	position:relative;
	left:auto;
	top:auto;
	width: 32px;
	height: 32px;
	margin: 5px auto;
}
.cateContent .content-item:nth-child(7) .content-item-thumb{
	position:relative;
	left:auto;
	top:auto;
	width: 260px;
	height: 260px;
}
.cateContent .content-item:nth-child(8) .content-item-thumb{
	margin: 16px auto 10px;
}

.cateContent .content-item.cur .content-item-bg,
.cateContent .content-item:hover .content-item-bg{
	position: absolute;
	width: 113px;
	height: 113px;
	background-image: url(../images/xbg-s.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.cateContent .content-item:nth-child(1) .content-item-bg{
	left: -5px;
	top: -19px;
}
.cateContent .content-item:nth-child(2) .content-item-bg{
	left: -15px;
	top: -9px;
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
}
.cateContent .content-item:nth-child(3) .content-item-bg{
	left: -21px;
	top: -16px;
	transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
}
.cateContent .content-item:nth-child(4) .content-item-bg{
	left: -33px;
	top: -28px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.cateContent .content-item:nth-child(5) .content-item-bg{
	left: -23px;
	top: -33px;
	transform: rotate(240deg);
	-webkit-transform: rotate(240deg);
}
.cateContent .content-item:nth-child(6) .content-item-bg{
	left: -12px;
	top: -31px;
	transform: rotate(300deg);
	-webkit-transform: rotate(300deg);
}
/*--------------------------
 edit 编辑状态
---------------------------*/
.edit-tip{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
}
.edit-tip-inner{
	width: 90%;
	margin: 0 auto;
	line-height: 34px;
	padding: 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	font-size: 16px;
	color: #fff;
	border-radius: 8px;
}
.edit-tip-tit{
	font-size: 18px;
}
.edit-icon{
	position: absolute;
	width: 26px;
	height: 26px;
	background-image: url(../images/icon-edit.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}
.edit-icon-pen{
	background-position: 0 0;
}
.edit-icon-ok{
	background-position: -26px 0;
}
.content-item:nth-child(1) .edit-icon{
	top: -16px;
	left: 50px;
}
.content-item:nth-child(2) .edit-icon{
	top: 22px;
	left: 66px;
}
.content-item:nth-child(3) .edit-icon{
	top: 54px;
	left: 56px;
}
.content-item:nth-child(4) .edit-icon{
	top: 56px;
	left: 3px;
}
.content-item:nth-child(5) .edit-icon{
	top: 24px;
	left: -16px;
}
.content-item:nth-child(6) .edit-icon{
	top: -15px;
	left: 0px;
}
/*赞*/
.like-item{
	position: absolute;
	right: 20px;
	top: 180px;
	z-index: 99;
	text-align:center;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	background: rgba(0,0,0,.4);
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.like-item a{
	position: relative;
	padding-left: 26px;
	color: #fff;
	display: inline-block;
}
.like-item .item-round{
	position: absolute;
	left: -8px;
	top: 1px;
	width: 28px;
	height: 28px;
	display: block;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	background: rgb(0,0,0);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(270deg, rgba(255,255,255,.4) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(180deg, rgba(255,255,255,.4) 0%, rgba(0,0,0,1) 100%);
	background: -moz-linear-gradient(180deg, rgba(255,255,255,.4) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(180deg, rgba(255,255,255,.4) 0%, rgba(0,0,0,1) 100%);
}
.like-item .home-number{
	font-family: Arial;
	font-size: 16px;
	min-width: 24px;
	display: inline-block;
}
.like-item .ico-hand {
	width: 15px;
	height: 15px;
	line-height: 15px;
	display: inline-block;
	background: url(../images/card_index/ico-hand2.png) no-repeat;
	background-size: 15px;
	margin-top: -3px;
}