@charset "utf-8";
/*--------------------------
 模块：flytip （自动消失的提示）
---------------------------*/
.flytip {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999998;
}

.flytip-inner {
	width: auto;
	line-height: 24px;
	margin: 0 auto;
	z-index: 999999;
	background: rgba(0, 0, 0, .7);
	color: #fff;
	text-align: center;
	padding: 8px 14px;
	font-size: 14px;
	border-bottom: 1px solid #000;
	border-radius: 4px;
	display: inline-block;
	position: absolute;
	top: 45%;
	z-index: 999999;
	opacity: 0;
	transition: 1s all;
	-webkit-transition: 1s all;
}

.flytip-arrow {
	font-size: 30px;
	color: rgba(0, 0, 0, .7);
	position: absolute;
	font-family: "simSun"
}

.flytip-arrow-up {
	top: -12px;
	left: 50%;
	margin-left: -12px;
}

.flytip-arrow-down {
	bottom: -12px;
	left: 50%;
	margin-left: -12px;
}

.flytip-arrow-left {
	top: 50%;
	left: -12px;
	margin-top: -10px;
}

.flytip-arrow-right {
	top: 50%;
	right: -12px;
	margin-top: -10px;
}