.shareBox{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
}
.shareBox .shareBox-title{
	display: block;
	line-height: 30px;
	padding: 5px 20px;
	color: #fff;
}
.shareBox .bdsharebuttonbox{
	border-top: 1px solid #fff;
}
.shareBox .bdsharebuttonbox a{
	width: 33%;
	height: 20px;
	display: block;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 50px 0 10px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}
.shareBox .bdsharebuttonbox a:nth-child(3n){
	border-right: 0;
}
.shareBox .bdsharebuttonbox .bds_sqq{
	background: url(../images/ico-qzone.png) no-repeat center 10px;
	background-size: 35px;
}
.shareBox .bdsharebuttonbox .bds_qzone{
	background: url(../images/ico-tqq.png) no-repeat center 10px;
	background-size: 38px;
}
.shareBox .bdsharebuttonbox .bds_tsina{
	background: url(../images/ico-tsina.png) no-repeat center 10px;
	background-size: 45px;
}
.shareBox .bdsharebuttonbox .bds_renren{
	background: url(../images/ico-renren.png) no-repeat center 10px;
	background-size: 60px;
}
.shareBox .bdsharebuttonbox .bds_copy{
	background: url(../images/ico-copy.png) no-repeat center 10px;
	background-size: 39px;
}
.shareBox .bdsharebuttonbox .popup_more{
	background: url(../images/ico-more1.png) no-repeat center 10px;
	background-size: 39px;
}
.bdshare_dialog_bottom a{
	display: none;
}
.bdshare_dialog_list li:nth-last-child(2){
	display: none;
}
#copyArea{
	width: 100%;
	height: 100px;
	border: 1px solid #DFDFDD;
	padding: 10px 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	resize: none;
	
}