@charset "utf-8";
/*--------------------------
 模块：vpopup （弹出的窗口）
---------------------------*/
.vpopup {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
}

.vpopup-title {
	width: 100%;
	padding-top: 10px;
	text-align: center;
	color: #000;
	font-size: 16px;
	font-weight: 700;
}

.vpopup-title-line {
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.vpopup-inner {
	width: 90%;
	height: auto;
	z-index: 999999;
	font-size: 16px;
	background: #fff;
	text-align: center;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
}

.vpopup-content {
	width: 2000px;
	height: auto;
	color: #000;
	padding: 15px 10px;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	line-height: 24px;
}

.vpopup-footer {
	height: 50px;
	line-height: 50px;
	color: #007aff;
	border-top: 1px solid #e5e5e5;
	margin-top: -1px;
}

.vpopup-footer .vpopup-btn {
	cursor: pointer;
	letter-spacing: 12px;
	overflow: hidden;
	font-size: 16px;
	display: block;
}

.vpopup-footer span.grid-one {
	width: 100%;
}

.vpopup-footer span.grid-two {
	width: 49%;
	display: inline-block;
}

.vpopup-footer span.grid-two:nth-child(1) {
	border-right: 1px solid #e5e5e5;
}
/* 弹窗的遮罩层 */
.vpopup-mask {
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99998;
	opacity: .5;
	filter: alpha(opacity = 50);
}
/* 弹窗里面的form */
.vpopup-form {
	
}

.vpopup-form-litit {
	width: 66px;
	display: inline-block;
	padding-right: 8px;
	text-align: right;
}

.vpopup-form-input {
	width: 160px;
	height: 22px;
	padding: 2px 4px;
	border: 1px solid #ddd;
}

.vpopup-form-item {
	margin-bottom: 4px;
}