<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>{$title}</title>
<link href="../addons/hl_tug/style/mobile/tug.css" rel="stylesheet" type="text/css" />
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>


//剩余时间
var starttime=500000;
//开始倒计时


// 定义摇动的幅度
var SHAKE_THRESHOLD = 1000;
// 摇动的次数/时间(秒)

// 定义摇动的时间间隔
var SHAKE_SPACE = 100;
// 计数器
var count = 0;
// 上一次提交的计数器
var last_count = -1 ;
// 定义一个变量保存上次更新的时间
var last_update = 1410000000000;

var x;
var y;
var z;
var last_x;
var last_y;
var last_z;
var loadtime=0;
//倒计时方法
function TimerStart(sec,TextID)
{
    var endTime = new Date().getTime() + sec + 100;
    function interval()
    {
      var n=(endTime-new Date().getTime())/1000;
		
        if (n<1) {
			n=0;
			return;
		}
        if(TextID && TextID!=""){document.getElementById(TextID).innerHTML = parseInt(n)+'秒后开始！';}		
        setTimeout(interval, 100);
    }
	interval();
}


//初始化方法
function init(){
 	
 	if (window.DeviceMotionEvent) {
 　　　// 移动浏览器支持运动传感事件
 　　　　window.addEventListener('devicemotion', deviceMotionHandler, false);
 　　　$("#yaoyiyaoyes").show();
 		$("#nostart").hide();
 		
 　　} else{
 　　　　// 移动浏览器不支持运动传感事件
 　　　　$("#yaoyiyaono").show();
 　} 	
 
　　
}
var speed=0;
//震动监听
function deviceMotionHandler(eventData) {
	
	
　　// 获取含重力的加速度
　　var acceleration = eventData.accelerationIncludingGravity; 
	var curTime = new Date().getTime(); 
　　var diffTime = curTime -last_update;
	//$('#vtest').html(speed);
　　if (diffTime > SHAKE_SPACE) {
		last_update = curTime; 
		x = acceleration.x; 
		y = acceleration.y; 
		z = acceleration.z; 

		speed = Math.abs(x + y + z - last_x - last_y - last_z) / diffTime * 10000; 

		if (speed > SHAKE_THRESHOLD) { 
　　　　　　// TODO:摇一摇之后所要进行的数据逻辑操作
　　　　　　
　　　　　　$("#yaoyiyaoyes").hide();
　　　　　　$("#yaoyiyaoresult").show();
　　　　　　
			count++;
			
			$("#yaoyiyaoresult").html("加油!第" + count + "次了！");
　　　　}
		
		last_x = x; 
		last_y = y; 
		last_z = z; 
	} 
} 

//2秒更新一次数据
var updatetimer = 0;
function  updata(){
	{if $whoteam}
	if(last_count<=count){
		$.post("{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&m=hl_tug&id={$id}&do=postjson&r="+new Date().getTime(), {fromuser: "{$fromuser}",  ucount: count }, function(result){
			result = eval("(" + result + ")");
            
                                               if(result.over=='1'){
                                                   clearTimeout( updatetimer );
                                                   //alert("over");
                                                   $('.index').hide();
                                                
                                                   $("#headimgurl").attr("src", result.headimgurl);
                                                   $("#nickname").html(result.nickname);
                                                   $("#top").html( result.result);
                                                   $("#cnt").html( result.count);
                                                   $('.result').show();
			var pw = $('.pic-bg').width();
			$('.pic-bg').height(pw);	
			$('.pic-bg img').width(pw-12);
			$('.pic-bg img').height(pw-12);

			$('.prizeImg').height($('.prizeImg').width()/2);

			var pt = ($('.play-name img').height()-24)/2;
			$('.play-name p').css('padding-top',pt);
  
			if(result.win_team == 1)	//胜利
			{
			           $('.rst-team').addClass('win');
			} else if(result.win_team == 3)		//平局
			{
			    $('.rst-team').addClass('draw');
			} else			 //失败
			 {
			 $('.rst-team').addClass('lose');
			 }

                                               }
		});
		last_count=count;
	}
	updatetimer = setTimeout('updata()',3000);
	{/if}
}

//电脑上测试用
function testshade(){
	//$("#nostart").html(count);
	
	$("#yaoyiyaoresult").html("加油!第" + count + "个了！");
		
		
		count++;
		
				$.post("{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&m=hl_tug&id={$id}&do=postjson&r="+new Date().getTime(), {fromuser: "{$fromuser}",  ucount: count }, function(result){
				});
		
		
}


$(document).ready(function(){
	getstartime()
	TimerStart(loadtime,'lefttime');
});
//尽可能屏弊按扭,避免误操作退出
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideOptionMenu');
	WeixinJSBridge.call('hideToolbar');
});
function getstartime(){
	 $.get("{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&m=hl_tug&id={$id}&do=startime&r="+new Date().getTime(),function(data,status){
		//alert("Data: " + data + "\nStatus: " + status);
		var stime= parseInt(data);
		if (stime<5){
			loadtime=stime*1000;
			//alert(stime);
			if(count==0){
				setTimeout('updata()',loadtime);
				setTimeout('init()',loadtime);
			}else{
				init();
				updata();
				
			}
			return ;
		}else{
			setTimeout('getstartime()',3000);
		}
	});
	
	
}

</script>

</head>
<body>

<div class="index">
    <img src="../addons/hl_tug/style/mobile/tug-background.jpg" class="tug-background">
    <div class="container">
        <p class="tug-title"><span>{$reply['title']}</span></p>
        <div class="cont-team">
        	<img src="../addons/hl_tug/style/mobile/team-bg.png" class="contbg-team">
            <div class="teamline">
                <span class="{if $whoteam==1}team-red{else}team-blue{/if}">
                	<img src="{if $whoteam==1}{$_W['attachurl']}{$reply['teamapic']}{else}{$_W['attachurl']}{$reply['teambpic']}{/if}">
                    <p>{if $whoteam==1}{$reply['teama']}{else}{$reply['teamb']}{/if}</p>
                </span>
            </div>
            <div class="cont-txt">
                <p>
                    <span id="yaoyiyaono" style="display:none;">您该换手机啦！！！</span>
	<span id="yaoyiyaoyes" style="display:none;">快与你的小伙伴摇摇摇。</span>
	<span id="yaoyiyaoresult" style="display:none;"></span>
	<span id='nostart'><span id='lefttime'>等待大屏开始 </span></span>    
                    
                </p>
            </div>
        </div>
    </div>
</div>
    
<div class="result" style='display:none'>
    <img src="../addons/hl_tug/style/mobile/result-bg.jpg" class="result-background">
    <a href="javascript:;" id="prize_link" class="prizeImg"><img  id="prize_image" src="../addons/hl_tug/style/mobile/prize-img-tug.jpg"></a>
    <div class="player-box">
    	<img src="../addons/hl_tug/style/mobile/result-box.png" class="rst-box-bg">
        <div class="player-xinxi">
        	<span class="pic-bg"><img id='headimgurl' src=""></span>
            <span class="play-name"><img src="../addons/hl_tug/style/mobile/name-bg.png"><p id='nickname'></p></span>
        </div>
        <div class="rst-team"></div>
    </div>
    <div class="result-box">
    	<ul class="clearfix">
        	<li>
            	<span class="rst-left">我的队伍</span>
                <span class="rst-right">{if $whoteam==1}{$reply['teama']}{else}{$reply['teamb']}{/if}</span>
            </li>
            <li>
                <span class="rst-left">名次</span>
                <span class="rst-right" id='top'>0</span>
            </li>
            <li>
            	<span class="rst-left">总出力</span>
                <span class="rst-right"><i id='cnt' style="font-style:normal">0</i></span>
            </li>
        </ul>
    
    </div>        
</div>
    
    
    <script language='javascript'>
            

$(function(){
 
var sw = $('.teamline span').width();
$('.teamline span').height(sw);
$('.teamline span img,.teamline span p').width(sw-12);
$('.teamline span img').height(sw-12);

})
            </script>
</body>
</html>