<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
我要发布
      </button>
      <a class="navbar-brand" href="{php echo $this->createMobileUrl('list')}"><strong>二手市场</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{php echo $this->createMobileUrl('add')}">发布物品</a></li>
        <li><a href="{php echo $this->createMobileUrl('Mygoods')}">我发布的</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
<div class="row">
  <div class="col-xs-12">
      <form class="form-inline" role="form" action="{php echo $this->createMobileUrl('list')}" method="post">
        <input type="text" class="form-control" size="20px" name="keyword" placeholder="请输入你想搜索关键字" style="display: inline;width: 80%;">
        <input name="submit" type="submit" class="btn btn-primary" value="搜索" />
      </form>
  </div><!-- /.col-lg-6 -->
</div>
</div>