<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
    <script type="text/javascript" src="../addons/weisrc_pano/template/js/zepto.min.js"></script>
    <link rel="stylesheet" href="../addons/weisrc_pano/template/css/view.css"/>
    <title>3D全景展示</title>
</head>
<body>
<div class="view_full" id="full3dDiv">
    <img id="bgImg" style="opacity:0;width:100%;"
         src="../addons/weisrc_pano/template/images/bg.jpg"/>
</div>
<div class="view_select">
    <div class="view_list" id="placeLink">
        <ul style="margin-left: 23px;">
            {loop $list $item}
            <li><a href="{php echo $this->createMobileurl('view', array('rid'=>$item['rid']))}">{$item['title']}</a></li>
            {/loop}
        </ul>
    </div>
</div>
<div class="view_house"><a id="currPlace" href="javascript:void(0);">360全景展示</a></div>
<a href="javascript:void(0);" id="closeBtn" class="btn_show_close"><span>关闭</span></a>
<div id="popFail" style="">
    <div class="bk"></div>
    <div class="cont">
        <img src="../addons/weisrc_pano/template/images/loading.gif" alt="loading...">
        <span id="percentNum">正在加载...</span>
    </div>
</div>
<div class="pop_tips" id="popTips" style="display:none;">
    <div class="oval"></div>
    <div class="pop_show">
        <h4 id="tipsTitle">温馨提示</h4>

        <div class="pop_info" id="tipsMsg">
            <p></p>
        </div>
        <div class="pop_btns">
            <a href="javascript:void(0);" id="tipsOK">确定</a>
            <a href="javascript:void(0);" style="display:none;" id="tipsCancel">取消</a>
        </div>
    </div>
</div>
<div class="pop_mask" id="popMask" style="display: none;"></div>
<script type="text/javascript">
    $(function () {
        function resizeLayout() {
            $(".view_select").height($(window).height() - 92);
            var $bgImg = $("#bgImg");
            if ($bgImg.height() <= $(window).height()) {
                $bgImg.css({"height": "100%"});
            } else {
                var top = ($(window).height() - $bgImg.height()) / 2;
                $bgImg.css({"margin": top + "px 0px"});
            }
        };
        $(window).on("resize", function () {
            resizeLayout();
        });
        $("#bgImg").attr("src", "http://wxj.weixinjia.net/image/mobile/pano/bg.jpg");
        $("#bgImg").on("load", function () {
            $(this).css({"opacity": "1"});
            resizeLayout();
            $("#popFail").hide();
            $(".view_select,.view_house").animate({"opacity": 1}, 1000);
        });
    });
</script>
</body>
</html>
<!--360全景-->
<!--www.weisrc.com-->
<!--作者:情天-->
<!--qq : 15595755-->