{template 'common_header'}
    <!-- 基本信息 -->
    <div class="am-g" style="background-color:#FFF;">
        <div class="am-u-sm-12" style="margin-top:5px">
		  <table class="am-table">
		    <thead>
		        <tr>
		            <th>职位</th>
		            <th>公司</th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody>
		    	{loop $collects $collect}
		        <tr onclick="location.href='{php echo $this->createMobileUrl('JobShow', array('job_id' => $collect['job_id']));}';">
		            <td>{$jobs[$collect['job_id']]['title']}</td>
		            <td>{$companys[$collect['company_id']]['name']}</td>
		            <td>{$collect['dateline']}</td>
		        </tr>
		        {/loop}
		   </tbody>
		 </table>
	   </div>
	 </div>
{template 'common_footer'}	 