<!DOCTYPE html>

<html>

 <head>

  <meta charset="UTF-8" />

  <title>{$setting['title']}</title>

  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />

  <link rel="stylesheet" type="text/css" href="../addons/meepo_qmbttz/template/mobile/assets/css/m.min.css?v=201408251447" />

 </head>

 <body>

  <div id="share">

   <img src="{$_W['siteroot']}../addons/meepo_qmbttz/template/mobile/assets/img/share.png" alt="" />

  </div>

  <div class="hide">

   <img src="../addons/meepo_qmbttz/template/mobile/assets/img/b1.png" /> 

   <img src="../addons/meepo_qmbttz/template/mobile/assets/img/b2.png" /> 

   <img src="../addons/meepo_qmbttz/template/mobile/assets/img/b3.png" /> 

   <img src="../addons/meepo_qmbttz/template/mobile/assets/img/b4.png" /> 

   <img src="../addons/meepo_qmbttz/template/mobile/assets/img/b5.png" /> 

   <img src="../addons/meepo_qmbttz/template/mobile/assets/img/f.png" /> 

   <img src="../addons/meepo_qmbttz/template/mobile/assets/img/m.png" />

   <script type="text/javascript">var cnzz_protocol="https:"==document.location.protocol?" https://":" http://";document.write(unescape("%3Cspan id='cnzz_stat_icon_1253113305'%3E%3C/span%3E%3Cscript src='"+cnzz_protocol+"s95.cnzz.com/z_stat.php%3Fid%3D1253113305' type='text/javascript'%3E%3C/script%3E"));</script>

  </div>

  <div class="grid">

   <div class="page" id="loading">

    <p>游戏加载中...</p>

    <p>关注ALS疾病，从你我开始！</p>

   </div>

   <div class="page hide" id="index">

    <div class="logo"></div>

    <p class="txt">挑战冰桶，并点名三位好友来挑战。<br />关怀渐冻人，支持弱势公益。</p>

    <div class="btn-wrap">

     <button id="btn-play" class="btn btn-main">我要挑战</button> 

     <button id="btn-detail" class="btn btn-sub">活动详情</button> 

     <button id="btn-images" class="btn btn-sub">明星湿身照</button>

    </div>

   </div>

   <div class="page hide" id="detail">

    <p>朋友们，当你们品尝美食的时候，你是否知道有一群人只能看着津液流淌不止，等待身边的亲人一口一口地喂下；朋友，当你和别人沟通且开怀大笑的时候，是否知道有一群人有口难开，用眼睛一眨一眨交流，眼睛里浸满泪花；朋友，当你们游走古迹美景的时候，是否知道有一群人全身僵硬躺在病床上不能翻身，不能表达苦楚，不能抓挠痛痒，有时就快要不能呼吸……正是这样一群人，他们拥有炙热的灵魂，他们拥有不屈的脊梁，他们拥有聪明的头脑，但他们需要你，需要你的爱和关怀。朋友，你听见他们的呼唤了吗？他们拥有同一个名字叫“渐冻人”（ALS）。我相信在爱的光芒下，他们会慢慢融化，我相信只要坚持就会重生。</p>

    <p>“冰桶挑战”，由美国棒球运动员Peter　Frates发起，旨在帮助那些患有“渐冻人症”(ALS)的群体。当前已经在全球流行，国内外部分娱乐巨星、运动员以及IT行业部分大佬均积极参与的同时，并献出爱心捐款。</p>

    <p>本游戏旨在：通过游戏虚拟参与冰桶挑战，并点名邀请三个好友将爱心接力！关注渐冻人，从你我开始！</p>

    <button class="btn btn-back">返回</button>

   </div>

   <div class="page hide" id="images">

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p10.png" alt="周杰伦" />周杰伦</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p2.png" alt="邓紫棋" />邓紫棋</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p1.png" alt="陈奕迅" />陈奕迅</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p6.png" alt="刘德华" />刘德华</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p4.png" alt="李冰冰" />李冰冰</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p5.png" alt="李彦宏" />李彦宏</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p3.png" alt="雷军" />雷军</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p11.png" alt="詹姆斯" />詹姆斯</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p7.png" alt="谢霆锋" />谢霆锋</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p8.png" alt="章子怡" />章子怡</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p9.png" alt="周鸿祎" />周鸿祎</p>

    <p><img src="#" data-src="../addons/meepo_qmbttz/template/mobile/assets/img/p12.png" alt="奥尼尔" />奥尼尔</p>

    <button class="btn btn-back">返回</button>

   </div>

   <div class="page hide" id="room">

    <div id="d-sex" class="dialog hide">

     <div class="inner d-sex">

      <p>选择您的形象</p>

      <div class="m" data-sex="m">

       <img src="../addons/meepo_qmbttz/template/mobile/assets/img/m.png" />

      </div>

      <div class="f" data-sex="f">

       <img src="../addons/meepo_qmbttz/template/mobile/assets/img/f.png" />

      </div>

     </div>

    </div>

    <div id="d-over" class="dialog d-over hide">

     <div class="inner d-over">

      <p class="t1"><em id="final-score">100升</em>冰水桶</p>

      <p class="t2">挑战成功</p>

      <div class="body clearfix">

       <div class="r" id="d-over-role">

        <img src="" />

       </div>

       <div class="input-area">

        <p>输入你要邀请挑战的<br />3名好友名字</p>

        <input type="text" /> 

        <input type="text" /> 

        <input type="text" /> 

        <button id="btn-ok" class="btn btn-ok">分享至朋友圈</button> 

        <a href="javascript:;" id="btn-retry">重新挑战</a> 

        <a href="{$setting['url']}">更多游戏</a>

       </div>

      </div>

     </div>

    </div>

    <div class="main">

     <header>

      <span id="score">水量：<em>0</em></span> 

      <span id="time">时间：<em>10</em></span>

     </header>

     <div class="water-wrap">

      <span id="water"></span>

     </div>

     <div id="bucket"></div>

     <div class="role"></div>

     <a href="javascript:;" id="btn-click">快速点击增加水量</a>

    </div>

   </div>

  </div>

  <div class="copyright">

   {$setting['copyright']}

  </div>

  <script src="../addons/meepo_qmbttz/template/mobile/assets/js/libs.min.js?v=201408251447"></script>

  <script src="../addons/meepo_qmbttz/template/mobile/assets/js/main.min.js?v=201408251447"></script>

<script type="text/javascript">



//对分享时的数据处理

function _removeHTMLTag(str) {

	str = str.replace(/<script[^>]*?>[\s\S]*?<\/script>/g,'');

	str = str.replace(/<style[^>]*?>[\s\S]*?<\/style>/g,'');

    str = str.replace(/<\/?[^>]*>/g,'');

    str = str.replace(/\s+/g,'');

    str = str.replace(/&nbsp;/ig,'');

    return str;

}

document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	{if !empty($_share_img)}

	var _share_img = "{$_share_img}";

	{else}

	var _share_img = $('body img:eq(0)').attr("src");

	if(typeof(_share_img) == "undefined") _share_img = "{$_share['img']}";

	if(_share_img.indexOf("http://") == -1 || _share_img.indexOf("https://") == -1 ) _share_img = "{$_W['siteroot']}" + _share_img;

	{/if}

	{if empty($_share['content'])}

	var _share_content = _removeHTMLTag($('body').html()).replace("{$_share['title']}",'');

	{else}

	var _share_content = "{php echo preg_replace('/\s/i', '', str_replace('	', '', cutstr(str_replace('&nbsp;', '', ihtmlspecialchars(strip_tags($_share['content']))), 60)));}";

	{/if}

	window.shareData = {

		"imgUrl": _share_img,

		"timeLineLink": "{$_share['link']}",

		"sendFriendLink": "{$_share['link']}",

		"weiboLink": "{$_share['link']}",

		"tTitle": "{$_share['title']}",

		"tContent":  _share_content,

		"fTitle": "{$_share['title']}",

		"fContent":  _share_content,

		"wContent":  "{$_share['title']}"

	};



	// 发送给好友

	WeixinJSBridge.on('menu:share:appmessage', function (argv) {

		WeixinJSBridge.invoke('sendAppMessage', {

			"img_url": window.shareData.imgUrl,

			"img_width": "640",

			"img_height": "640",

			"link": window.shareData.sendFriendLink,

			"desc": window.shareData.fContent,

			"title": window.shareData.fTitle

		}, function (res) {

			_report('send_msg', res.err_msg);

		})

	});



	// 分享到朋友圈

	WeixinJSBridge.on('menu:share:timeline', function (argv) {

		WeixinJSBridge.invoke('shareTimeline', {

			"img_url": window.shareData.imgUrl,

			"img_width": "640",

			"img_height": "640",

			"link": window.shareData.timeLineLink,

			"desc": window.shareData.tContent,

			"title": window.shareData.tTitle

		}, function (res) {

			_report('timeline', res.err_msg);

		});

	});



	// 分享到微博

	WeixinJSBridge.on('menu:share:weibo', function (argv) {

		WeixinJSBridge.invoke('shareWeibo', {

			"content": window.shareData.wContent,

			"url": window.shareData.weiboLink

		}, function (res) {

			_report('weibo', res.err_msg);

		});

	});

}, false);

</script>

{if empty($main_off)}</div>{/if}

</body>

</html>



 </body>

</html>