{template 'common/header'}
<div class="main">
    <form class="form-horizontal form" id="form2" action="" method="post">
                
       <div class="form-group">
           <label for="inputPassword3" class="col-sm-2 control-label">有效期</label>
           <div class="col-sm-4">
               <select class="form-control" name="validity">
                   {loop $config['validity'] $key $val}
                      <option value="{$key}">{$val}</option>
                   {/loop}
               </select>
           </div>
       </div>
 
        <div class="form-group col-sm-12">
            <input name="person_id" type="hidden" value="{$person_id}" />
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="save_topinfo" value="提交" />
        </div>
    </form>
</div>

{template 'common/footer'}