{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('Resum');}">简历信息编辑</a></li>
</ul>
<div class="main">
    <form class="form-horizontal" action="" role="form" method="post">
        <input type="hidden" name="token" value="{$_W['token']}" />
        <input type="hidden" name="cid" value="{$row['id']}" />

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-4">
                <input type="text" name="data[username]" value="{$row['username']}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
            <div class="col-sm-4">
                <select class="form-control" name="data[sex]">
                    <option value="1" {if $row['sex'] == 1} selected {/if}>男</option>
                    <option value="0" {if $row['sex'] == 0} selected {/if}>女</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-4">
                <input type="text" name="data[age]" value="{$row['age']}" class="form-control">
            </div>
        </div>


        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">学历</label>
            <div class="col-sm-4">
                <select class="form-control" name="data[educational]">
                    {loop $config['educational'] $key $payroll}
                    <option value="{$key}" {if intval($row['educational']) == intval($key)} selected {/if}>{$payroll}</option>
                    {/loop}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">手机</label>
            <div class="col-sm-4">
                <input type="text" name="data[mobile]" value="{$row['mobile']}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-4">
                <input type="text" name="data[qq]" value="{$row['qq']}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">工作经验</label>
            <div class="col-sm-4">
                <input type="text" name="data[workexperience]" value="{$row['workexperience']}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">期望工作地点</label>
            <div class="col-sm-4">
                <input type="text" name="data[workaddress]" value="{$row['workaddress']}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">自我评价</label>
            <div class="col-sm-4">
                <textarea name="data[assessment]" class="form-control">{$row['assessment']}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" name="save_info" value="保存">
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}