{php $bootstrap_type = 3;}
{template 'header'}

<style>
body{background:#efeff4 ;background-size:100% auto;}
.body{background:#efeff4 ;background-size:100% auto;}
 .h {height:10px}
 .btn{  padding: 4px 8px;}
 .pagination ul > li > a, .pagination ul > li > span {
  padding: 5px 5px;
}

.imggt {
  text-align: center;
  margin-top: 20%;
}
.imggt img {
	width:100px;
	height:auto;
}
.text {
width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background: #efeff4;
  margin-top: 10%;
  font-family: 微软雅黑;
  font-size: 20px;
  line-height: 35px;
   color: #000;
}
</style>
<link rel="stylesheet" type="text/css" href="../addons/fm_photosvote/template/css/style.css">
<div class="body">
	<div class="imggt"><img src="../addons/fm_photosvote/template/mobile/photos/imgs/gt.png" ></div>
	<div class="text">
	<strong>{$mynickname} 你好<br/>本页面仅支持微信访问!<br/>非微信浏览器禁止浏览</strong>
	<p style="font-size:15px;color: #AEAEAE;margin-top:30px">如有疑问，请联系客服</p>
	<p style="font-size:15px;color: #AEAEAE;margin-top:-10px">客服： {$_W['account']['name']}</p>
	
	</div>
</div>
{template 'footer'}
