@charset "gb2312";
/* CSS Document */

body{ font-size:12px;margin:0 auto;padding:0;border:0;font-family:"宋体", arial;color:#333333; width:100%; }
div,form,img,ul,ol,li,dl,i,u,span,dt,dd,em,i,h1,h2,h3,h4,p{ padding:0; border:0;margin:0px auto;list-style: none;font-style:normal;}
img{border:none;}
a {text-decoration:none; color:#333333;}
.clear{ clear:both; float:none;}




/*flash*/

/* 焦点图 */
.slideBox {
    height: auto;
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    width:100%; max-width:640px;
}
.slideBox .hd {
    bottom: 8px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.slideBox .hd li {
	display:inline-block;
	width:5px;
	height:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#333;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 6px;
}
.slideBox .hd li.on {
	background:#fff;
}
.slideBox .bd {
	position:relative;
	z-index:0;
}
.slideBox .bd li {
    height: auto;
    position: relative;
}
.slideBox .bd li a {
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	display: block;
    margin: 0 auto;
    padding: 0;
}  /* 去掉链接触摸高亮 */
.slideBox .bd li .tit {
    background: url("../images/focusBg.png") repeat-x 0 0;
    bottom: 8px;
    color: #FFFFFF;
    display: block;
    height: 25px;
    line-height: 25px;
    position: absolute;
    text-indent: 10px;
    width: 100%; 
}
.slideBox .pic img {
    height: auto;
    width: 100%; 
}



