@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:Arial, "ºÚÌå"; font-size:15px;}
img{ border:0;}
a{ text-decoration:none; cursor:default}
a:link {color: #000000}
a:visited {color: #000000}
a:hover {color: #FF00FF}
a:active {color: #0000FF}
li{ list-style:none;}
body{ background:#F0EFF4;}
.box{ width:100%;}
.info_top{z-index: 100; width:100%; height:42px; border-top:1px solid #DDDDDB; border-bottom:1px solid #DDDDDB; background:#F0EFF4;cursor: pointer;cursor: hand;position: fixed;top:0;}
.info_top p{ width:65px; height:65px; float:left; margin:9px 0 0 10px;}
.info_top p img{
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;}
.info_top dl{ float:left;margin:10px 0 0 10px;}
.info_top dl dt { overflow:hidden; margin:3px 0 5px 0;}
.info_top dl dt a{ color:#000; float:left; font-size:15px; margin:2px 2px 0 0;}
.info_top dl dt img{ float:left;}
.info_top dl dd{ color:#888; font-size:12px;}

.pic{ width:100%; overflow:hidden; margin:0 10px 0 0; background:#fff; padding:0 0 10px 0;}
.pic label{ height:50px; line-height:50px; float:left; margin:8px 0 0 10px;}
.pic ul{ float:left; margin:0 0 0 1px;}
.pic ul li{ width:50px; height:50px; float:left; margin:10px 0 0 8px; cursor:pointer}

.info { width:100%; overflow:hidden;}
.info ul li{ position:relative; background:#fff;}
.info ul li:link{ background:#fff}
.info ul li:visited{ background:#fff}
.info ul li:hover{ background:#fff}
.info ul li:active{ background:#DFDFDD;}
.info ul li span{ width:auto; height:44px; margin:0 0 0 10px; display:block; line-height:44px; border-top:1px solid #DEDDD9;}
.info ul li label{ float:left;}
.info ul li img{ float:right; margin:15px 10px 0 0;} 
.info ul .last{ border-bottom:1px solid #DEDDD9}
.info ul .vip{ border-top:1px solid #DEDDD9;border-bottom:1px solid #DEDDD9; margin:10px 0 0 0;}
.info ul .vip span{ border:none}
.info ul .vip font{ width:26px; height:27px; display:block; position:absolute; top:-1px; left:0;}
.info ul .vip font img{ margin:0; float:none;}
.info ul li a{background: url("/resources/css/images/jiant.jpg") no-repeat scroll right 20px rgba(0, 0, 0, 0);padding: 0 20px 0 0; color: #888888; float: right; margin: 0 15px 0 0;}

.info ul li select {border: medium none;opacity: 0;position: absolute;right: 10px;top: 10px;width: 70px;z-index: 10;}

#searchConditions{display: block; position: fixed; width: 100%; height: 100%; top: 42px; background-color: rgb(255, 255, 255);}

#searchList{margin-top:42px;}
#searchList ul{padding: 2% 0;width: 100%;}
#searchList ul li{width:100%;overflow: hidden;}
#searchList ul li a{display: block;float:left;width: 31%;margin: 0 1.5% 0.7% 0;position: relative;}
#searchList ul li.row_1{width:100%;}
#searchList ul li.row_1 a:first-child{margin: 0 1.5% 0.7% 2%;}
#searchList ul li.row_2 a:first-child{margin: 0 1.5% 0.7% 2%;width: 63.2%;}
#searchList ul li.row_3 a{margin: 0 1.5% 0.7% 2%;}
#searchList ul li.row_3 a:first-child{margin: 0 2% 0.7% 0;float: right;width:63.2%; }
#searchList ul li a img{width:100%;}
#searchList ul li a span{text-align: center; font-size: 12px; position: absolute;left: 10px;bottom:10px;border-radius: 10px;display: block;height: 20px;line-height: 20px;width: 48px;color: #fff;background-color: rgba(0,0,0,.7)}


.search_btn{position: relative; width: 100%;}
.search_btn a{background: none repeat scroll 0 0 #EA7B8E;border-radius: 5px;color: #FFFFFF;display: block;height: 44px;line-height: 44px;margin: 11px 10px;text-align: center;}
.search_btn a:link{background: none repeat scroll 0 0 #EA7B8E;}
.search_btn a:visited{background: none repeat scroll 0 0 #EA7B8E;}
.search_btn a:hover{background: none repeat scroll 0 0 #EA7B8E;}
.search_btn a:active{background: none repeat scroll 0 0 #E76C81;color: #EE97A7;}
.loading{ width:100%; text-align:center; padding:10px 0; color:#888;}
.loading img{ margin:0 5px 0 0;}

.encounter{ margin: 44px 0 0 0  }
.search_list{ margin:10px 10px 0 10px; overflow:hidden; background:#f9f9f9; box-shadow: 0px 2px 2px #ccc;}
.search_list .list_info{ width:auto; height:44px; overflow:hidden; border-bottom:1px solid #f1f1f1; background:#FAFAFA; }
.search_list .list_info p{ float:left; margin:7px 0 0 10px;}
.search_list .list_info dl{ float:left; margin:14px 0 0 5px;}
.search_list .list_info dl dt a{font-size:14px;color:#000; float: left;}
.search_list .list_info dl dt span{ font-size: 12px; color: #888; float: left; margin: 2px 0 0 10px}
.search_list .list_info dl dt img{ float: left; margin: 0 0 0 10px;}
.search_list .list_info .search_hi{
    background: none repeat scroll 0 0 #ff3600;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 75px;
    float:right;
    margin:9px 6px 0 0;
}
.search_list .list_info .search_hi:active {
    background: none repeat scroll 0 0 #DA2143;
}
.search_list .list_info .over {
    background: none repeat scroll 0 0 #F5CDD5;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 75px;
    float:right;
    margin:9px 6px 0 0;
}
.search_list ul{padding-left:4px;width:auto}
.search_list ul li{ width:90px; height:120px; float:left; margin:12px 0 0 18px; padding:0 0 12px 0;}


