@charset "utf-8";

body{ font-family:"Microsoft Yahei"; }
*{ padding:0; margin:0}
.cls {zoom:1;}
.cls:after {content:"";visibility:hidden;display:block;height:0;clear:both;}
img { border:none;}
ul,li{ padding:0px; list-style:none;}
a{text-decoration:none;outline:none}
.mro{ margin-right:0 !important}
.fc_1{ color:#0565AF !important; text-decoration:none}
.fc_2{ color:#7D7D7D !important}

.main{width:100%; margin:0 auto;}
	.content{ margin:auto; line-height:1.8em; font-size:28px;}
		.content .sub-title{background:#1E1E1E;height: 100px;padding: 10px 10px; color:#fff; font-size:24px;}
		.content .sub-title a{ color:#fff}
		.content strong{ display:block}
		.content .info{ padding:35px}
input{font-family:"Microsoft Yahei"; }		
.center{ text-align:center}		
.mt10{ margin-top:10px}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px}
.mt40{ margin-top:40px;}	

	.foot{ text-align:center; padding:3em 0; color:#666; font-size:24px}

.left{ float:left}
.right{ float:right}

.border_cort, .border_corr, .border_corb, .border_corl {    display: inline-block;   width: 0;    height: 0;    border-width: 12px;    overflow: hidden;}
.border_cort {    border-color: #333 transparent transparent; border-style: solid dotted dotted;}
.border_corr {    border-color: transparent #333 transparent transparent; border-style: dotted solid dotted dotted;}
.border_corb {    border-color: transparent transparent #333; border-style: dotted dotted solid;}
.border_corl {    border-color: transparent transparent transparent #333; border-style: dotted dotted dotted solid;}





.satff-more-box{}
	.satff-more-box li{ float:left; margin-left:10px; text-align:center; width:140px; margin-top:40px; line-height:1.4em;}
	.satff-more-box li a{ display:block; color:#454545}
	.satff-more-box li img{ margin-bottom:10px}

.qy-top-box{ background:#F2F2F3;  padding:30px 20px;}
	.qy-top-box .qy-info {position:relative; padding-left:175px;}
	.qy-top-box .qy-info .qy-logo{ position:absolute; top:0; left:0; text-align:center}
	

.btn1{ border: none; border:1px solid #BFBFBF; background:#E7E7E7; color:#434343; border-radius:5px; font-size:24px; padding:10px 20px;  }
.btn2{border: none; border:1px solid #BFBFBF; background:#EAEAEA; color:#434343; border-radius:5px; font-size:24px; padding:16px 0px; width:230px; text-align:center  }
.box1{ border-bottom:1px solid #D2D2D2; padding:20px; background:#EBEBEB }
	.box1 .sub-nav{ background:URL(../images/sub-nav-bg1.png) no-repeat; height:65px; line-height:2.4em;}
	.box1 .sub-nav-02{ background:URL(../images/sub-nav-bg2.png) no-repeat; height:65px; line-height:2.4em;}
	.box1 .sub-nav a{ display:inline-block; width:295px; text-align:center; color:#434343 }
	.box1 .sub-nav a.index{ color:#FFFFFF}
	.box1 .sub-nav-02 a{ display:inline-block; width:295px; text-align:center; color:#434343 }
	.box1 .sub-nav-02 a.index{ color:#FFFFFF}
	
	.box1 .text-info{ margin:30px 0;  border:2px solid #BFBFBF; border-radius:5px;  }
	.box1 .text-info li{ padding:20px 15px; border-bottom:2px solid #BFBFBF;position: relative;background: #F2F2F3;}
	.box1 .text-info li span{ display:inline-block}
	.box1 .text-info li span.th{ color:#7D7D7D; margin-right:5px; width:126px; vertical-align:top}
	.box1 .text-info li span.td{ color:#434343; width:425px;}
	.box1 .text-info li .pup{ position:absolute; top:35px; right:15px; }

#box a{color:#0565AF;}
.box2{ background:#F2F2F3; padding:30px 25px; border-top:2px solid #fff; border-bottom:2px solid #D2D2D2 }
	.box2 h3{ color:#454545; margin-bottom:30px}
	.box2 .satff-box li{ float:left; width:100px; margin-right:63px; text-align:center}
	.box2 .satff-box li a{ display:block; margin-top:5px; color:#434343}

.message-box .text1{ width:220px; border:2px solid #CCCCCC; background:#F2F2F2; border-radius:5px; height:78px; line-height: normal; padding-left:3px; font-size:28px}
		.message-box .text2{ width:350px; border:2px solid #CCCCCC; background:#F2F2F2; border-radius:5px; height:78px; line-height:normal; padding-left:3px; margin-left:10px;font-size:28px}
		.message-box .textarea1{ width:582px; height:90px; border:2px solid #CCCCCC; background:#F2F2F2; border-radius:5px; line-height:1.5em; padding-left:3px; resize:none; font-size:12px; margin-top:10px;font-size:28px}	
		.message-box .send-btn{ float:right; margin-top:10px; }
		.message-box .send-btn .send{background:url(../images/card/send-btn.png) no-repeat; width:179px; height:78px; line-height:normal; text-align:center; border:none; font-size:30px; color:#FFF; padding-right:26px}
	
		
.gz-box { border:2px solid #BFBFBF;border-radius:5px; }
	.gz-box .warp{ float:left;  width:297px; padding:20px 0; text-align:center; background:#F2F2F3}
	.gz-box .warp span.num{ color:#00479D; font-family:Arial, Helvetica, sans-serif; font-size:34px}
	.gz-box .warp p{ color:#454545}
	
.qy-result li{ position:relative; padding:20px 0 20px 120px; background:url(../images/card/line-bg.png) repeat-x bottom; color:#454545; line-height:1.4em}
	.qy-result li a{ color:#454545}
	.qy-result li:last-child{ background:none}
		.qy-result li img.company-img{ position:absolute; top:30px; left:0}
		.qy-result li strong{  display:block;}

.btn-msg{ background:url(../images/card/message-btn.png) no-repeat; width:602px; height:83px; line-height:normal; text-align:center; border:none; font-size:32px; color:#FFF}

	
#float-bg{position:absolute; top:0px; left:0px; bottom:0px; z-index:100; background:#000; width:100%; height:100%; filter:alpha(opacity=50);opacity: 0.5; display: none }	
.big-code{ background:#FFF; padding:30px; position:fixed; left:50%; top:50%; margin-top:-170px; margin-left:-160px ;border-radius: 5px; z-index:101; display:none}	
	.big-code p{ text-align:center;}
	
.footer{ text-align:center; font-size:22px; color:#454545}	
.pup-box{ background:#F2F2F3; padding:40px 25px; width:540px; position:fixed; left:50%; top:50%; margin-left:-295px; margin-top:-140px;  z-index:102; display:none}
	.pup-box p{ color:#8096AD; font-size:30px; margin-bottom:20px;}





/*3g��ҳ*/
.box3{ border-bottom:2px solid #D2D2D2; padding:20px; background:#F2F2F3 }
.head .sub-nav{ margin-top:15px; margin-right:10px}
.head .sub-nav a{ display:inline-block; margin:0 5px; width:96px; height:56px; line-height:56px; font-size:26px; color:#fff; text-align:center; text-shadow: 2px 2px 0 rgba(5, 5, 5, 0.49);}
	.head .sub-nav a.index{ background:url(../images/head-bg.png) no-repeat;}

.sub-top{ width:460px; margin:0 auto;}
	.sub-top .text-info{ float:left; margin-left:30px; text-align:center;}
.fun-3g{}
	.fun-3g li{background: url(../images/line.gif) repeat-x bottom; text-align:center; padding:20px 0}
	.fun-3g li p{ margin-bottom:10px;}

.box2 h3 img{ vertical-align:-16px}
.box3 h3 img{ vertical-align:-16px}
	.step-box li{ padding:20px 60px; background: url(../images/line.gif) repeat-x bottom; position: relative; }
	.step-box li .left{ margin-top:25px;}
	.step-box li .step-jt{ position:absolute; top:-1px; left:50%; margin-left:-20px}

	.ys-box li{ background: url(../images/line.gif) repeat-x bottom; padding:20px 0 20px 130px; position:relative}
		.ys-box li img{ position:absolute; top:30px ; left:10px}
		.ys-box li p{ color:#666}

.text-warpper{ padding:0 20px;}

.anli-demo{ width:580px; overflow:hidden; margin:30px auto 10px}
	.anli-demo li{ float:left; margin-right:7px; margin-left:10px}

.faq-list{ font-size:26px;}
.faq-list li{background: url(../images/line.gif) repeat-x bottom; padding:10px;}
	.faq-list li .info{ border:1px solid #E3E5E6; background:#FFF; padding:15px; color:#333; margin:10px 0; display: none}

.footer1{ padding:20px 0; text-align:center;background:#F2F2F3; border-top:1px solid #fff;}
	.footer1 a{ color:#313131; margin:0 20px;}
	.footer1 p{ color:#666}
	
	
/*΢��Ƭ*/
.head-pup{ position:fixed; top:0; width:640px; display: none}
.head .card-btn{margin-top:20px; margin-left:25px;}
.head .apply-box{ background:url(../img/card/apply_bg.png) no-repeat; width:233px; height:274px; position:absolute; top:64px; right:14px; text-align:center; z-index:101; display:none}
	.head .apply-box a{ display:block; color:#FFF; font-size:28px; margin-top:44px;text-shadow: 1px 1px 0 #666;}
.foot-nav{ position:fixed; bottom:0;}
	.foot-nav .foot-list1{background:-webkit-gradient(linear, left top, left bottom, from(#0097e3), to(#007ed6)); opacity:0.85; height:85px; line-height:85px;}
	.foot-nav .foot-list1 li{ float:left; background:url(../img/card/foot-libg.png) repeat-y right; width:128px; text-align:center; color:#fff;text-shadow: 1px 1px 0 #454545; position:relative}
	.foot-nav .foot-list1 li .border_corb{border-color: transparent transparent #fff;}
	.foot-nav .foot-list1 li.index{ color:#FFF100;}
	.foot-nav .foot-list1 li.index .border_corb {border-color: transparent transparent #FFF100;}
	.foot-nav .list2 li{ width:160px}
	.foot-nav .foot-list3 li{ width:192px;}
	.foot-nav .foot-list3 li.t2{ width:256px;}

	.foot-nav .lx-box{ position:absolute; top:-130px; width:640px; background:url(../img/card/lx-bg.png) no-repeat; height:130px; display:none }
	.foot-nav .lx-box li{ float:left; width:210px; line-height: 40px;padding-top: 20px; text-align:center}
	.foot-nav .lx-box li a{ display:block; margin-top:5px; color:#333; text-shadow:none}
	
.main-card{ background:#E0E0E0 url(../img/card/main-bg.jpg) no-repeat;background-size:100%;}
	.main-card .card-box{  padding:20% 0 35% 10%; line-height:22px; }
	.main-card .card-box .card-bg{background:url(../img/card/card-bg.png) no-repeat; width:25%; background-size:100%;}
	.main-card .card-box .card-bg .name{ padding-top:15px; font-size:1.2em;position:relative;width: 200%;}
	.main-card .card-box .card-bg .position{ padding-left:60px; font-size:24px; color:#333}
	.main-card .card-box .card-bg .position a { color:#333}
	.main-card .enter-info{ padding:0 10% 0 10%; padding-bottom:5%; color:#333; /*position:fixed;*/ bottom:100px; font-size:1em; }
	.main-card .enter-info a{  color:#333; }
	.main-card .enter-info .name{ color:#000; font-size:1.6em; margin-bottom:30px;}

.main-card2{background:#D6AB87 url(../img/card/v_bg2.jpg) no-repeat;background-size:100% }
	.main-card2 .top-qyname{ color:#fff; font-size:1.6em; padding:12% 12%;}
	.main-card2 .top-qyname span{ display:block; font-size:28px;}
	.main-card2 .card-box{  padding:20% 0 13% 0px; line-height:42px; color:#fff; font-size:1.2em; }
	.main-card2 .card-box .card-bg{ background:url(../img/card/bg2.png) no-repeat; padding:5% 0px 5% 5%;}
	.main-card2 .card-box .text-info{ margin-left:1%; line-height:1.4em;display: inline-block;}
	.main-card2 .card-bg span{ }
	.main-card2 .enter-info{ /*position:fixed;*/ padding-bottom:5%; font-size:1em; padding-left:10%;  color:#fff; line-height:1.3em}
	.main-card2 .enter-info a{color:#fff; }
    .main-card2 .logo{width:100%}
	
.main-card3{background:#01245D url(../img/card/v_bg3.jpg) no-repeat; height:100%}
	.main-card3 .card-box{  padding:130px 0 145px 0; line-height:42px; margin:0 auto; text-align:center;  color:#fff; font-size:40px; line-height:1.2em }
	.main-card3 .card-box .name{ margin-top:20px}
	.main-card3 .card-box span{ display:block; font-size:24px;}
	.main-card3 .card-box .text-info{ margin-left:15px; float:left}
	.main-card3 .card-box .position{ font-family:Arial, Helvetica, sans-serif; font-size:28px;}
	.main-card3 .card-box .text-info span{ font-size:24px; color:#454545}
	.main-card3 .enter-info{  /*position:fixed;*/ bottom:100px; font-size:24px; padding-left:60px; color:#fff }
	.main-card3 .enter-info a{color:#fff }
	.main-card3 .enter-info .name{font-size:32px; margin-bottom:30px;}
	
.main-card4{background:#F4F2EB url(../img/card/v_bg4.jpg) no-repeat;background-size:100%;}
    .main-card4 .car_box_logo{ padding-left:22%;width:3em;height:3em;overflow: hidden;}
    .main-card4 .car_box_logo img{width:100%}
	.main-card4 .card-box{ padding-top:15%;  line-height:42px; font-size:1.7em;  }
	.main-card4 .card-bg{text-align:center; padding:15% 0 12% 0;line-height:1.1em}
	.main-card4 .card-box .name{ margin-top:15px}
	.main-card4 .card-bg span{ font-size:0.6em; color:#454545; }
	.main-card4 .enter-info{ /*position:fixed;*/padding-bottom:5%; font-size:1.1em; text-align:left; padding-left:15%; color:#454545; line-height:1.2em}	
	.main-card4 .enter-info a{  color:#454545; }	
	.main-card4 .enter-info .name{ font-size:32px; margin-bottom:30px}
	

.main-card5{background:#F7F7EB url(../img/card/v_bg5.jpg) no-repeat;background-size:100%}
	.main-card5 .card-box{ padding-top:30%;  line-height:42px;}
	.main-card5 .card-box .logo{ text-align:center; font-size:1.7em; line-height:1.8em}
    .main-card5 .card-box .logo img{width:100%}
	.main-card5 .card-bg{text-align:center; padding:10% 0 5% 0;line-height:1.1em}
	.main-card5 .card-bg span{ font-size:24px; color:#454545;}
	.main-card5 .card-bg p.phone{ }
	.main-card5 .enter-info{ /*position:fixed;*/ padding-bottom:5%; font-size:1em; padding-left:20%; color:#454545; line-height:1.4em}	
	.main-card5 .enter-info a{  color:#454545; }	
	.main-card5  .name{ font-size:1.2em;}
	
.main-card6{background:#EBEBEB url(../img/card/v_bg6.jpg) no-repeat; background-size:100%}
	.main-card6 .top-qyname{ color:#fff; padding:5% 0% 1% 5%; font-size:1.5em}
	.main-card6 .card-box{ padding:5% 0 0% 5%; line-height:42px; color:#fff; font-size:40px; line-height:1.4em }
    .main-card6 .card-box .logo{width:100%}
	.main-card6 .text-info{ margin-left:15px;}
	.main-card6 .text-info .name{ color:#333}
	.main-card6 .text-info span{ font-size:24px; color:#454545}
	.main-card6 .enter-info{/*position:fixed;*/padding-top:12%; line-height:1.5em; padding-bottom:5%; font-size:1em; padding-left:6%;  color:#454545}
	.main-card6 .enter-info a{color:#454545}
	
.main-card7{background:#1D2A4D url(../img/card/v_bg7.jpg) no-repeat; height:100%}
	.main-card7 .card-box{  padding:220px 0 125px 0; line-height:42px; margin:0 auto; text-align:center;  color:#fff; font-size:40px; line-height:1.4em }
	.main-card7 .card-box .text-info{ margin-left:15px; float:left}
	.main-card7 .card-box .position{ font-family:Arial, Helvetica, sans-serif; font-size:28px;}
	.main-card7 .card-box .text-info span{ font-size:24px; color:#454545}
	.main-card7 .enter-info{  /*position:fixed;*/ bottom:100px; font-size:24px; text-align:center; width:640px; color:#fff }
	.main-card7 .enter-info a{ color:#fff }
	.main-card7 .enter-info .name{ font-size:32px; border-bottom:2px solid #CECFD0; padding-bottom:10px; margin-bottom:20px;}
	
.main-card8{background:#F39800 url(../img/card/v_bg8.jpg) no-repeat; background-size:100% }
	.main-card8 .card-box{  padding:10% 0 2% 0;  color:#fff; font-size:1.2em; line-height:1.1em }
	.main-card8 .card-box .card-bg{  padding:15% 25%;text-align: center;}
	.main-card8 .card-box .text-info{ margin-left:15px; float:left}
	.main-card8 .card-box .position{ font-family:Arial, Helvetica, sans-serif; font-size:0.7em;padding-top:5%}
    .main-card8 .card-box .position a {color:#fff;}
	.main-card8 .card-box .text-info span{ font-size:1em; color:#454545}
	.main-card8 .enter-info{ padding-top: 17%; margin:0;padding-bottom:5%; font-size:1em; padding-left:5%;  color:#fff;line-height:1.5em;}
	.main-card8 .enter-info a{color:#fff }
    .main-card8 .card-bg .logo{width:100%;}
	.main-card8 .enter-info .name{ font-size:32px; border-bottom:2px solid #CECFD0; padding-bottom:10px; margin-bottom:20px;}	

.main-card9{background:#224CBB url(../img/card/v_bg9.jpg) no-repeat; height:100%; background-size:100%}
	.main-card9 .top-qyname{ color:#FFFF00; font-size:1.4em; padding:10% 0px 10% 15%;}
	.main-card9 .top-qyname span{ display:block; font-size:0.8em; color:#fff}
	.main-card9 .card-box{ padding-top:8%; padding-bottom:20%;  font-size:22px; padding-left:7%;  line-height:1.6em }
	.main-card9 .card-box .text-info{ margin-left:15px; float:left; line-height:1.4em;color:#FFFF00;}
    .main-card9 .card-box .text-info a{color:#fff;}
	.main-card9 .card-box .text-info .name p{ color:#00FFFF}
	.main-card9 .enter-info{ padding-left:10%;padding-right:15px;padding-bottom:5%; color:#fff; font-size:14px; line-height:1.5em }
	.main-card9 .enter-info a{color:#fff;}
    .main-card9 img.left{width:100%}
	
.main-card10{background:#022062 url(../img/card/v_bg10.jpg) no-repeat; background-size: 100%;}
	.main-card10 .top-qyname{ color:#00FFFF; font-size:38px; padding:10% 0px 15% 24%;}
    .main-card10 .top-qyname .logo{width:100%}
	.main-card10 .top-qyname span{ display:block; font-size:28px; color:#65A1CC}
	.main-card10 .card-box{text-align: center; line-height:42px; color:#fff; font-size:1.6em; line-height:1.4em }
	.main-card10 .card-box .name{ color:#00FFFF;font-size:0.7em;}
	.main-card10 .card-box .position{ font-family:Arial, Helvetica, sans-serif; font-size:0.7em; color:#fff}
	.main-card10 .card-box .position a { color:#fff}
	.main-card10 .card-box .text-info span{ font-size:24px; color:#454545}
	.main-card10 .enter-info{  /*position:fixed;*/margin-top: 15%; font-size:1em; padding-bottom:5%; padding-left:5%;  color:#7ECEF4;  }
	.main-card10 .enter-info a{ color:#7ECEF4;  }
	
.main-card11{background:#F2F2F4 url(../img/card/v_bg11.jpg) no-repeat; height:100%;}
	.main-card11 .card-bg{padding:350px 0 20px 65px;line-height:1.1em; color:#434343; font-size:42px;}
	.main-card11 .card-bg span{ font-size:24px; color:#454545;}
	.main-card11 .card-bg .name{ color:#1B1B1B}
	.main-card11 .card-bg .phone{ font-size:28px;}
	.main-card11 .enter-info{/*  position:fixed;*/ margin-top:100px; bottom:100px; font-size:24px; line-height:1.5em; color:#454545; padding-left:40px; }	
	.main-card11 .enter-info a{color:#454545;}	
	.main-card11 .enter-info .name{ background:#C9151C; padding:15px 20px; font-size:36px; color:#fff; margin-bottom:20px; width:560px;}
	.main-card11 .enter-info p{ padding-left:20px;} 

.main-card12{background:#F2F2F4; height:100%;}
	.main-card12 .logo{margin:10% auto 20% auto; text-align:center;width:3em;height:3em;overflow:hidden;}
    .main-card12 .logo img{width:100%}
	.main-card12 .card-bg{padding-left:10%;line-height:1.1em; color:#434343; font-size:1.4em;}
	.main-card12 .card-bg span{ font-size:24px; color:#454545;}
	.main-card12 .card-bg .name{ color:#1B1B1B}
	.main-card12 .card-bg .phone{ font-size:0.8em;}
	.main-card12 .enter-info{ /*  position:fixed;*/ margin-top:15%; padding-bottom:5%; font-size:1em; line-height:1.5em; color:#454545; padding-left:10%; }	
	.main-card12 .enter-info a{color:#454545; }	
	.main-card12 .company{ background:#0A8AC5; padding:3% 5%; font-size:1.6em; color:#fff; margin-bottom:20px; }
	.main-card12 .enter-info p{ padding-left:20px;} 

	

	
.per-top-box{padding: 30px 20px 0 20px; background:#EBEBEB}	
	.per-top-box .per-info{ position:relative; border:2px solid #BFBFBF;border-radius: 5px; padding:10px 15px 15px 130px; background:#F2F2F3 }
	.per-top-box .per-info .logo{ position:absolute; top:15px; left:15px}
	.per-top-box .per-info .pup{ position:absolute; right:15px; top:35px;}
	
.pup-foot-box{background: #F2F2F4;padding: 40px 35px;width: 490px;position: fixed;left: 50%;top: 50%;margin-left: -282px;margin-top: -140px;z-index: 102;border-radius: 5px; border:2px solid #B2B2B4; font-size:24px; line-height:1.6em; display:none}
	.pup-foot-box .text{ background:url(../images/card/qy-logo.png) no-repeat 5px 10px; padding-left:70px; color:#333}
	
.save-card{ text-align:right; position: relative; top:-58px;}	

